<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ALTOS CORE</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />

    <style>
      .messages
      {
        font-size: 0.92em;
        margin-bottom: 1em;
      }
      .messages  li
      {
        list-style: none;
        color: rgb(244, 36, 36);
      }
      @media(max-width:832px)
      {
        .messages
        {
          font-size: 0.80em;
          padding-left: 0em;
        }
        .messages  li
        {
          list-style: none;
          color: rgb(244, 36, 36);
        }
      }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 col-12 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-center mb-5">Login</h3>
                {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
                {% endif %}
                <form action="{% url 'login_dashboard' %}" method="post"   autocomplete="off">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Username or email *</label>
                    <input type="text" name="uname" class="form-control p_input text-light" required>
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input type="password" name="psw" class="form-control p_input text-light" required>
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                      <label class="form-check-label">
                        
                    </div>
                    <a href="{% url 'dashboard' %}" class="forgot-pass">Forgot password</a>
                   
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                  </div>
                  
                 
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
   
  
  
  
  </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if msg_error %}
    <script>
         Swal.fire({
            icon: 'info',
            title: '',
            text: '{{ msg_error }}',
        }).then(function () {
            javascript: history.go(-1);
        })
    </script>
    {% endif %}

    
  </body>
</html>