{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

<style>
.box{
    border: #000000d2;
}
</style>

<!--- Admin Profile Settings -->
<div class="content-wrapper">

    <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="register-employee" aria-selected="true">Profile </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="password-tab" data-bs-toggle="tab" href="#password-change" role="tab" aria-selected="false">Password Change</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="company-tab" data-bs-toggle="tab" href="#company-details" role="tab" aria-selected="false">Company Details</a>
                </li>
                
              </ul>
              {% if success_msg %}
                <div class="messageBox-container" id="message-container">
                
                        <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                        <p class="text-center success-text">{{success_msg}}</p>
                </div>
              {% elif error_msg %}
                <div class="messageBox-container" id="message-container">
                        <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                        <p class="text-center error-text">{{error_msg}}</p>
                </div>
              {% endif %}
              
            </div>
            <div class="tab-content tab-content-basic">
              <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile"> 
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                        <form class="forms-sample" action="#">
                          <div class="row flex-grow">
                           
                            <div class="col-lg-5 col-md-5 col-sm-12 profile ">
                                <div class="profile-imgBox" id="profile-imgBox">
                                    <img  src="{% static 'admin/images/faces/profile/admin-dummy-img.png' %}" id="profile-image">
                                </div>
                                <div class="profile-details">
                                    <h3>Shebin Shaji</h3>
                                    <p>shebinshaji@gmail.com - Admin &nbsp;<span class="profile-edit"><button id="editbtn"><i class="mdi mdi-pen"> edit</i></button></span> </p>
                                </div>
                                <div class="profile-pic">
                                    <label for="file-upload" class="upload-box">
                                        <span>Upload Profile Picture JPG,PNG</span>
                                    </label>
                                    <input type="file" id="file-upload" onchange="displayImage(this)" hidden>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12  ">
                                <h5 class="fw-bold">Account Information</h5>
                               
                                    {% csrf_token %}
                                    <div class="form-group mt-3">
                                        <label for="fname">Full Name</label>
                                        <input type="text" class="form-control" id="fname" placeholder="Full Name" readonly>
                                      </div>
                                    <div class="form-group ">
                                      <label for="uname">User Name</label>
                                      <input type="text" class="form-control" id="uname" placeholder="User Name" readonly>
                                    </div>
                                    <div class="form-group">
                                      <label for="email">Email address</label>
                                      <input type="email" class="form-control" id="email" placeholder="Email" readonly>
                                    </div>
                                    <div class="form-group">
                                      <label for="psw">Password</label>
                                      <input type="password" class="form-control" id="psw" placeholder="Password" readonly>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-outline-success me-2">Update Changes</button>
                                    <button class="btn btn-outline-danger">Cancel</button>
                                
                            </div>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
     
              </div>

              <div class="tab-pane fade" id="password-change" role="tabpanel" aria-labelledby="password-change"> 
                
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 sm-12 p-2">
                                        <div class="password-info">
                                            <div>
                                                <h4>Change Password</h4>
                                                <p>In order to protect your account, make sure your password:</p>
                                            </div>
                                           
                                            <ul>
                                                <li>Use a mix of uppercase and lowercase letters.</li>
                                                <li>Include numbers and special characters (e.g., !, @, #, $).</li>
                                                <li>Avoid using common words, names, or easily guessable information.</li>
                                                <li>Make your password at least 8 characters long.</li>
                                                <li>Do not use sequential or repetitive characters (e.g., "123456" or "aaaaaa").</li>
                                                <li>Avoid using easily obtainable information, such as your birthday or phone number.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-6 sm-12">
                                        <form class="forms-sample">
                                            <div class="form-group">
                                                <label for="oldpsw">Old Password</label>
                                                <input type="password" class="form-control" id="oldpsw" placeholder="Old Password">
                                              </div>
                                            
                                            <div class="form-group">
                                              <label for="newpsw">New Password</label>
                                              <input type="password" class="form-control" id="newpsw" placeholder="New Password">
                                            </div>
                                            <div class="form-group">
                                              <label for="confpsw">Confirm Password</label>
                                              <input type="password" class="form-control" id="confpsw" placeholder="Confirm Password">
                                            </div>
                                            
                                            <button type="submit" class="btn btn-outline-success me-2">Change Password</button>
                                            <button class="btn btn-outline-danger">Cancel</button>
                                          </form> 
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    </div>
              </div>

              <div class="tab-pane fade" id="company-details" role="tabpanel" aria-labelledby="company-details"> 
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                        <form class="forms-sample" action="#">
                          <div class="row flex-grow">
                           
                            <div class="col-lg-5 col-md-5 col-sm-12 profile ">
                                <div class="profile-imgBox" id="profile-imgBox">
                                    <img  src="{% static 'admin/images/faces/profile/admin-dummy-img.png' %}" id="profile-image">
                                </div>
                                <div class="profile-details">
                                    <h3>AltosTechnologies</h3>
                                    <p>altosTechnologies@gmail.com  &nbsp;<span class="profile-edit"><button id="editbtn"><i class="mdi mdi-pen"> edit</i></button></span> </p>
                                </div>
                                <div class="profile-pic">
                                    <label for="file-upload" class="upload-box">
                                        <span>Upload Logo Picture JPG,PNG</span>
                                    </label>
                                    <input type="file" id="logo-upload" onchange="displayLogo(this)" hidden>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12  ">
                                <h5 class="fw-bold">Company Information</h5>
                               
                                    {% csrf_token %}
                                    <div class="form-group mt-3">
                                        <label for="comp_name">Company Name</label>
                                        <input type="text" class="form-control" id="comp_name" placeholder="Company name" readonly>
                                      </div>
                                    
                                    <div class="form-group">
                                      <label for="comp_email">Email Address</label>
                                      <input type="email" class="form-control" id="comp_email" placeholder="Email address" readonly>
                                    </div>
                                    <div class="form-group ">
                                        <label for="comp_website">Website Url</label>
                                        <input type="url" class="form-control" id="comp_website" placeholder="Website url" readonly>
                                    </div>
                                    <div class="form-group ">
                                        <label for="comp_address">Company Address</label>
                                        <textarea  class="form-control" id="comp_address" style="height: 100px;" placeholder="Company address" readonly></textarea>
                                    </div>
                                    
                                    
                                    <button type="submit" class="btn btn-outline-success me-2">Update Changes</button>
                                    <button class="btn btn-outline-danger">Cancel</button>
                                
                            </div>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
     
              </div>
            </div>
          </div>
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    // click on edit button to perform edit

    $(document).ready(function() {
        // When the button is clicked
        $("#editbtn").click(function() {
            // Remove the readonly attribute from the input field
            $("#fname").prop("readonly", false);
            $("#uname").prop("readonly", false);
            $("#email").prop("readonly", false);
            $("#psw").prop("readonly", false);
           
        });
    });

    function displayImage(input) {
        var file = input.files[0];
    
        // Check if the selected file is a JPG or PNG image
        if (file && (file.type === "image/jpeg" || file.type === "image/png")) {
            var reader = new FileReader();
    
            reader.onload = function(e) {
                var image = document.getElementById("profile-image");
                image.src = e.target.result;
            };
    
            reader.readAsDataURL(file);
        } else {
            alert("Please select a valid JPG or PNG image.");
            input.value = ""; // Clear the input field
        }
    }
    </script>


{% endblock %}

<style>

    /*Register Box Register-details  Style */
    
        #register-box .contaier-fluid
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            gap: 1em;
            background-color:#fafafa;
           
           
        }
        .register-details
        {
           
            width: 600px;
            background: #ffff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
           
        }
    
        .register-details h4, .register-details-table h4{
          
            margin-top: 1.1em;
            font-size: 1.35em;
            margin-left: 0.40em;
            font-weight: 500;
            letter-spacing: 0.04em;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color:rgb(38, 17, 63);
           
            
        }
        .register-details .line,  .register-details-table .line
        {
            width: 60px;
            height: 3px;
            border-bottom: 3px solid #000;
            margin-left: 0.60em;
    
        }
    
        /* Alert box */
    
        .register-details .message-bx,  .register-details .message-bx-confirm
        {
           
            color: #fafafa;
            font-size: 0.98em;
            font-weight: 600;
            font-family: 'Times New Roman', Times, serif;
            padding: 0.50em ;
            height: 5vh;
            margin-top: 1.2em; 
        }
        .register-details .message-bx
        {
            background: #e8e340;
        }
        .register-details .message-bx-confirm
        {
            background: #6fc146;
        }
      
        .register-details .message-bx-delete
        {
            background: #f7684c;
            color: #fafafa;
            font-size: 0.98em;
            font-weight: 600;
            font-family: 'Times New Roman', Times, serif;
            padding: 0.50em ;
            height: 5vh;
            margin-top: 1.2em;
           
        }
        .register-details form{
            padding:0.50em 1em;
            background: #fafafa;
        }
        .register-details form .input-group-box
        {
            margin-top: 1.5em;
        }
        .input-group-box label
        {
            width: 35%;
            font-size: 0.90em;
            font-weight: 600;
            padding: 0.40em;
        }
        .input-group-box input, select{
          width: 55%;
          padding: 0.20em;
          border: 1px solid #828181;
          font-size: 0.90em;
         
        }
        .input-group-box input:focus, select:focus
        {
            border:0.01rem solid #111158;
            outline: none;
            border-radius: 3px;
        }
        .input-group-box select option{
            font-size: 0.90em;
            padding: 1em 0em;
        }
        .submit_button
        {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15vh;
            background: #fafafa;
            margin-top: 1em;
        }
        .submit_button button
        {
            padding: 0.40em 1.4em;
            font-weight: 600;
            background: #261b52;
            color: #ffff;
            margin:none ;
            border: none;
            letter-spacing: 0.04em;
        }
        #register-details a
        {
            padding: 0em 0.40em;
            font-size: 1.1em;
        
        }
        #register-details .edit
        {
            font-size: 0.95em;
        }
        #register-details .edit:nth-child(1)
        {
          
            color: #1b126f; 
        }
        #register-details .check
        {
          
            color: #3da309; 
        }
        #register-details .wating
        {
            color: #fff308;
        }
        #register-details .wating span
        {
            color: #d3c90d;
            font-size: 0.85em;
            font-weight: 600;
        }
        #register-details .notcheck
        {
            color: #ec0909;
        }
        #register-details .confirmbtn
        {
            font-size: 0.89em;
            font-weight: 600;
            border: none;
            padding: 0.40em 0.80em;
            background: #111158;
            color: #ffff;
        }
        /* Media Query*/
        @media(max-width:964px)
        {
            #register-box .contaier-fluid
            {
            grid-template-columns:repeat(1,1fr) ;
            }
            .register-details
            {
                height: auto;
            }
            
        }
        /*Register Box Register-details End Style */
    
         /*Register Box Register-details Table Style */
         .register-details-table .container
         {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            height: 70vh;
            margin-top: 1.4em;
            padding-top:2em ;
         }
         #register-details
         {
            font-size: 0.90em;
         }
          /* Media Query*/
        @media(max-width:964px)
        {
        
            .register-details-table .container
            {
                height: auto;
                overflow-x: scroll;
              
               
            }
            #register-details
            {
              width: 100%; 
            }
            .register-details-table 
            {
                overflow-x: scroll;
            }
        }
    </style>
    
    
    <main>
        <section id="register-box">
            <div class="contaier-fluid">
                <div class="register-details">
                    <h4>Profile Update Form</h4>
                    <div class="line"></div>
                    {% if msg == 1 %}
                    <div class="message-bx-confirm" id="msgbox">
                        <p><i class="bi bi-check"></i>Password Changed. </p>
                    </div>
                    <!-- {% elif  msg == 2 %}
                    <div class="message-bx-confirm" id="msgbox">
                        <p><i class="bi bi-check-all"></i>Registeration Completed </p>
                    </div>
                    {% elif  msg == 3 %}
                    <div class="message-bx-delete" id="msgbox">
                        <p><i class="bi bi-x"></i></i>Oops Deleted the User </p>
                    </div> -->
                    {% endif %}
    
                    <!-- Register Form -->
    
                    <form action="{% url 'admin_password_changeing' %}" method="post">
                        {% csrf_token %}
                        <!-- <div class="input-group-box" >
                            <label>First Name</label>
                            <input type="text" name="name" value="{{reg.fullName}}" required>
                        </div>
                        <div class="input-group-box" >
                            <label>Last Name</label>
                            <input type="text" name="name" value="{{reg.fullName}}" required>
                        </div>
                        <div class="input-group-box" >
                            <label>Email Id</label>
                            <input type="email" name="name" value="{{reg.fullName}}" required>
                        </div> -->
                        <div class="input-group-box" >
                            <label>User Name</label>
                            <input type="text" name="adurname" value="{{user.username}}" >
                        </div>
                        <div class="input-group-box" >
                            <label>Password</label>
                            <input type="Password" name="adpsw" required>
                        </div>
                        
                        <div class="submit_button">
                            <button type="submit">Save</button>
                        </div>
                    </form>
                </div>
               
               
            </div>
        </section>


</main>