{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

<!--- OJT Registration View Section -->
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 d-flex flex-column">
        
        <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                    <h4 class="card-title card-title-dash">Registrations </h4>
                    <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{all_ojt_reg_count}}</span>  registrations</p>
                    </div>
                    <div>
                        <form class="search-form" action="{% url 'admin_ojt_registration_all_states' %}" method="post">
                            {% csrf_token %}
                           
                            <div class="searchBox">
                                
                                <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                <button type="button" class="close-btn" id="closeBtn">
                                     <i class="mdi mdi-close"></i>
                                </button>
                                
                            </div>
                           
                            <div class="w-box" >
                                <select name="search_select" class="search-select">
                                   
                                    <option value="0"> All states </option>
                                    {% for state in states %}
                                    <option value="{{state.id}}">{{state.state_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="w-box" >
                                <select name="search_reference" class="search-select">
     
                                    <option value="0"> Filter By</option>
                                    {% for reference in unique_references %}
                                    <option value="{{reference}}">{{reference}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                           
                            <div class="w-box">
                                <input type="date" class="search-date" name="start_date">
                            </div>
                            <div class="w-box">
                                <input type="date" class="search-date" name="end_date">
                            </div>
                            <div>
                                <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="table-responsive  mt-1">
                    <table class="table select-table" id="OJT-register">
                    <thead>
                        <tr>
                            <th>Date of join</th>
                            <th>Full Name</th>
                            <th>Department</th>
                            <th>state</th>
                            <th>Referenced By</th>
                            <th>progress</th>
                            <th class="text-center">Pay Status</th>
                            <th>Reg. Status</th>
                           

                        </tr>
                    </thead>
                    <tbody>
                        {% for newreg in all_ojt_reg %}
                        <tr>
                            <td>{{newreg.dofj}}</td>
                            <td>
                                <div class="d-flex ">
                                <div><a href="{% url 'admin_registartion_ojt_payment_details' newreg.id  %}"><h6>{{newreg.fullName}}</h6></a></div>
                                </div>
                            </td>
                            <td>{{newreg.dept_id.department}}</td>
                            <td>{{newreg.reg_state.state_name}}</td>
                            <td>{{newreg.refrence}}</td>

                            <td>
                                {% if newreg.payprogress >= 10 and newreg.payment_status == 0 %}
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                        <p class="text-warning">{{newreg.payprogress}}%</p>
                                        </div>
                                    
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width:{{newreg.payprogress}}%" aria-valuenow="{{newreg.payprogress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                {% elif  newreg.payprogress == 100 or newreg.payment_status == 1  %}
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                        <p class="text-success">{{newreg.payprogress}}%</p>
                                        </div>
                                    
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-success" role="progressbar" style="width:{{newreg.payprogress}}%" aria-valuenow="{{newreg.payprogress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                {% elif  newreg.payment_status == 2 or newreg.reg_status == 2  %}
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                        <p class="text-danger">{{newreg.payprogress}}%</p>
                                        </div>
                                    
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width:{{newreg.payprogress}}%" aria-valuenow="{{newreg.payprogress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>


                            <td class="text-center">
                                {% if newreg.payment_status == 1 %}
                                <i class="mdi mdi-check-circle-outline mdi-18px text-success"></i>
                                {% elif newreg.payment_status == 2  %}
                                <i class="mdi mdi-close-circle-outline mdi-18px text-danger"></i>
                                {% else %}
                                <div class="badge badge-opacity-warning">Progressing</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if newreg.reg_status == 1 %}
                                <div class="badge badge-opacity-success">Approved</div>
                                {% elif newreg.reg_status == 2  %}
                                <div class="badge badge-opacity-danger">Deactive</div>
                                {% else %}
                                <div class="badge badge-opacity-warning">wating for approve</div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        
        </div>
    
    </div>
       


    
<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const ojtTable = document.getElementById('OJT-register');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = ojtTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const empnameCell = rows[i].getElementsByTagName('td')[1];
            const departmentCell = rows[i].getElementsByTagName('td')[2];
            const state = rows[i].getElementsByTagName('td')[3];
            const reffer = rows[i].getElementsByTagName('td')[4];
            const statusCell = rows[i].getElementsByTagName('td')[5];
            const Cell6 = rows[i].getElementsByTagName('td')[6];
            const Cell7 = rows[i].getElementsByTagName('td')[7];

            if (empnameCell || departmentCell || state || reffer || statusCell || Cell6 || Cell7 ) {

                const empname = empnameCell.textContent || empnameCell.innerText;
                const dept = departmentCell.textContent || departmentCell.innerText;
                const states = state.textContent || state.innerText;
                const refferns = reffer.textContent || reffer.innerText;
                const status_emp = statusCell.textContent || statusCell.innerText;
                const datacell6 = Cell6.textContent || Cell6.innerText;
                const datacell7 = Cell7.textContent || Cell7.innerText;
               

                if (states.toLowerCase().includes(filterValue) || empname.toLowerCase().includes(filterValue) || dept.toLowerCase().includes(filterValue) 
                || refferns.toLowerCase().includes(filterValue)|| status_emp.toLowerCase().includes(filterValue) || datacell6.toLowerCase().includes(filterValue)|| datacell7.toLowerCase().includes(filterValue)) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>


</div>


{% endblock %}