{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}



<div class="content-wrapper">
    <div class="row">
        
        <div class="col-md-3 grid-margin stretch-card">
          <a href="{% url 'admin_trackPayments' %}">
              <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Upcoming Payments</h4>
                  <div class="media">
                  <i class="mdi mdi-magnify icon-md text-info d-flex align-self-center me-3"></i>
                  <div class="media-body">
                      <p class="card-text">Cras sit amet nibh libero, in gravida nulla. </p>
                  </div>
                  </div>
              </div>
              </div>
          </a>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
          <a href="{% url 'admin_pending_payments' %}">
              <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Pending Payments</h4>
                  <div class="media">
                  <i class="mdi mdi-layers icon-md text-info d-flex align-self-end me-3"></i>
                  <div class="media-body">
                      <p class="card-text">Cras sit amet nibh libero, in gravida nulla.</p>
                  </div>
                  </div>
              </div>
              </div>
          </a>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <a href="{% url 'admin_incompleted_payments' %}">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Incomplete Payments</h4>
                    <div class="media">
                    <i class="mdi mdi-layers icon-md text-info d-flex align-self-end me-3"></i>
                    <div class="media-body">
                        <p class="card-text">Cras sit amet nibh libero, in gravida nulla. </p>
                    </div>
                    </div>
                </div>
                </div>
            </a>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <a href="{% url 'admin_completed_payments' %}">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Complete Payments</h4>
                    <div class="media">
                    <i class="mdi mdi-layers icon-md text-info d-flex align-self-end me-3"></i>
                    <div class="media-body">
                        <p class="card-text">Cras sit amet nibh libero, in gravida nulla. </p>
                    </div>
                    </div>
                </div>
                </div>
            </a>
          </div>
    </div>




    <div class="row mt-3">
        <div class="col-lg-12 d-flex flex-column">
        
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title card-title-dash"><i class="mdi mdi-format-list-bulleted icon-sm text-info  me-3"></i> Payments List</h4>
                     <p class="card-subtitle card-subtitle-dash">You have <span class="count-value"> {{payhis_count}} </span> payments</p>
                    </div>
                    
                  </div>
                  <div class="table-responsive  mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Full Name</th>
                                <th>Department</th>
                                <th>BAL Amount</th>
                                <th>TL Amount</th>
                                <th>Payment List</th>
                                <th>Full Receipt</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in reg %}
                                {% if i.payprogress >= 10 and i.payment_status == 0 %}
                                    <tr >
                                        <td>
                                            {{ forloop.counter }}
                                        
                                        </td>
                                        <td class="progressing">{{i.fullName}}</td>
                                    
                                        <td class="progressing">{{i.dept_id.department}}</td>
                                        <td class="progressing">{{i.regbalance_amt}} </td> 
                                        <td class="progressing">{{i.regtotal_amt}} </td> 
                                        <td>
                                            <table  class="table select-table" >
                                                <thead>
                                                    <tr>
                                                        <th>Pay Head</th>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                        <th>Receipt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for j in payhis %}
                                                        {% if j.reg_id_id == i.id %}
                                                        <tr>
                                                            <td>{{j.head_name}}</td>
                                                            <td>{{j.paydofj}}</td>
                                                            <td class="progressing">{{j.payintial_amt}}</td>
                                                            <td >
                                                                {% if j.pay_status == 1 %}
                                                                <a href="{% url 'singeldata_receipt' j.id %}" class="down-load-pdf"><i class="mdi mdi-file-pdf "></i></a>
                                                                {% else %}
                                                                <a href="#" class="not-download"><i class="bi bi-exclamation-circle-fill"></i></a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        </td>
                                        <td> <a href="{% url 'singelUserfull_receipt' i.id %}" class="down-load-pdf"><i class="mdi mdi-file-pdf "></i></a></td>
                                        
                                    </tr>
                                {% elif  i.payprogress == 100 or i.payment_status == 1  %}
                            
                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                        
                                    </td>
                                    <td class="end">{{i.fullName}}</td>
                                
                                    <td class="end">{{i.dept_id.department}}</td>
                                    <td class="end">{{i.regbalance_amt}} </td> 
                                    <td class="end">{{i.regtotal_amt}} </td> 
                                    <td>
                                        <table class="table select-table" >
                                            <thead>
                                                <tr>
                                                    <th>Pay Head</th>
                                                    <th>Date</th>
                                                    <th>Amount</th>
                                                    <th>Receipt</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for j in payhis %}
                                                    {% if j.reg_id_id == i.id %}
                                                    <tr>
                                                        <td>{{j.head_name}}</td>
                                                        <td>{{j.paydofj}}</td>
                                                        <td class="end">{{j.payintial_amt}}</td>
                                                        <td>
                                                            {% if j.pay_status == 1 %}
                                                            <a href="{% url 'singeldata_receipt' j.id %}" class="down-load-pdf"><i class="mdi mdi-file-pdf "></i></a>
                                                            {% else %}
                                                            <a href="#" class="not-download"><i class="bi bi-exclamation-circle-fill"></i></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </td>
                                    <td class="recipt"> <a href="{% url 'singelUserfull_receipt' i.id %}" class="down-load-pdf"><i class="mdi mdi-file-pdf "></i></a></td>
                                    
                                </tr>

                                {% else %}
                                {% if  i.payment_status == 2 or i.reg_status == 2  %}

                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                            
                                        </td>
                                        <td class="start">{{i.fullName}}</td>
                                    
                                        <td class="start">{{i.dept_id.department}}</td>
                                        <td class="start">{{i.regbalance_amt}} </td> 
                                        <td class="start">{{i.regtotal_amt}} </td> 
                                        <td>
                                            <table class="table select-table" >
                                                <thead>
                                                    <tr>
                                                        <th>Pay Head</th>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                        <th>Receipt</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for j in payhis %}
                                                        {% if j.reg_id_id == i.id %}
                                                        <tr class="start">
                                                            <td>{{j.head_name}}</td>
                                                            <td>{{j.paydofj}}</td>
                                                            <td >{{j.payintial_amt}}</td>
                                                            <td>
                                                                {% if j.pay_status == 1 %}
                                                            <a href="{% url 'singeldata_receipt' j.id %}" class="down-load-pdf"><i class="mdi mdi-file-pdf "></i></a>
                                                                {% else %}
                                                                <a href="#" class="not-download"><i class="bi bi-exclamation-circle-fill"></i></a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        </td>
                                        <td class="recipt"> <a href="{% url 'singelUserfull_receipt' i.id %}" class="down-load-pdf"><i class="mdi mdi-file-pdf "></i></a></td>
                                        
                                    </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

</div>



{% endblock %}



    