{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

<!--- All PAYMENTS   -->
<div class="content-wrapper">

    <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title card-title-dash">{{head_name}}  payments </h4>
                            <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{pay_reg_count}}</span> payment status. 
                                
                            </p>
                        </div>
                        <div>
                            <form class="search-form" action="#" method="post">
                                {% csrf_token %}
                            
                                <div class="searchBox">
                                    
                                    <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                    <button type="button" class="close-btn" id="closeBtn">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                    
                                </div>
                            
                                <div class="w-box" >
                                    <select name="search_select" class="search-select">
                                    
                                        <option value="0"> All states </option>
                                        {% for state in states %}
                                        <option value="{{state.id}}">{{state.state_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="table-responsive  mt-1">
                        <table class="table select-table" id="OJT-register">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Date of join</th>
                                <th>Department</th>
                                <th>state</th>
                                <th>Referenced By</th>
                                <th>Paid</th>
                                <th>Balance</th>
                                <th>Total</th>
                                <th>Progress</th>
                                <th>Message</th>
                                <th>Next Pay Amount</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for pay in pay_reg %}
                            <tr>
                            
                                <td>
                                    <div class="d-flex ">
                                        <div>
                                            <a href="{% url 'admin_registartion_ojt_payment_details' pay.id  %}">
                                                <h6>{{pay.fullName}}</h6>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>{{pay.dofj}}</td>
                                <td><h6>{{pay.dept_id.department}}</h6> </td>
                                <td><h6>{{pay.reg_state.state_name}}</h6></td>
                                <td><h6>{{pay.refrence}}</h6></td>
                                <td><h6>{{pay.reg_payedtotal}}</h6></td>
                                <td><h6>{{pay.regbalance_amt}}</h6></td>
                                <td><h6>{{pay.regtotal_amt}}</h6></td>
                                
                                <td>
                                    {% if pay.payment_status == 0 %}
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                        <p class="text-warning">{{pay.payprogress}}%</p>
                                        </div>
                                    
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width:{{pay.payprogress}}%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    {% elif pay.payment_status == 1 %}
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                        <p class="text-success">{{pay.payprogress}}%</p>
                                        </div>
                                    
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-success" role="progressbar" style="width:{{pay.payprogress}}%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                        <p class="text-danger">{{pay.payprogress}}%</p>
                                        </div>
                                    
                                        <div class="progress progress-md">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width:{{pay.payprogress}}%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </td>
                                {% if pay.payment_status == 0 %}
                                <td class="bg-warning">
                                    {% if pay.next_pay_date < cur_date %}
                                    <p class="text-danger pl-1">  {{pay.next_pay_date}} - Pay Date Exceed </p>
                                    {% elif  pay.next_pay_date > cur_date %}
                                    <p class="text-white pl-1"> Next Pay Date - {{pay.next_pay_date}}</p>
                                    {% endif %}
                                </td>
                              
                                {% elif pay.payment_status == 1 %}
                                <td class="bg-success">
                                    <p class="text-white pl-1">All Payments Done</p>
                                </td>
                             
                                {% elif pay.payment_status == 2 %}
                                <td class="bg-danger">
                                    <p class="text-white pl-1"> Payments Not Done</p>
                                </td>
                                {% endif %}

                                <td class="text-center"><h6>{{pay.next_pat_amt}}</h6></td>
                                
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
                
<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const OJT_registerTable = document.getElementById('OJT-register');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = OJT_registerTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const data1 = rows[i].getElementsByTagName('td')[0];
            const data2 = rows[i].getElementsByTagName('td')[2];
            const data3 = rows[i].getElementsByTagName('td')[3];
            const data4 = rows[i].getElementsByTagName('td')[4];
           

            if (data1 || data2 || data3 || data4) {
                const d1 = data1.textContent || data1.innerText;
                const d2 = data2.textContent || data2.innerText;
                const d3 = data3.textContent || data3.innerText;
                const d4 = data4.textContent || data4.innerText;
               

                if (d1.toLowerCase().includes(filterValue) || d2.toLowerCase().includes(filterValue) || d3.toLowerCase().includes(filterValue) || d4.toLowerCase().includes(filterValue)) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>


{% endblock %}

