{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

<!--- Income & Expence Section -->
<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 

                        <div class="row">
                            <div class="col-md-4 grid-margin stretch-card">
                              <a href="{% url 'admin_analysis_income_expence_details' %}">
                                  <div class="card">
                                  <div class="card-body">
                                      <h4 class="card-title">Income & Expence </h4>
                                      <div class="media">
                                      <i class="mdi mdi-contrast icon-md text-info d-flex align-self-start me-3"></i>
                                      <div class="media-body">
                                          <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                                      </div>
                                      </div>
                                  </div>
                                  </div>
                              </a>
                            </div>
                            <div class="col-md-4 grid-margin stretch-card">
                              <a href="{% url 'admin_paymentsview' %}">
                                  <div class="card">
                                  <div class="card-body">
                                      <h4 class="card-title">Onthe Job Training</h4>
                                      <div class="media">
                                      <i class="mdi mdi-cube-outline icon-md text-info d-flex align-self-center me-3"></i>
                                      <div class="media-body">
                                          <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                                      </div>
                                      </div>
                                  </div>
                                  </div>
                              </a>
                            </div>
                            <div class="col-md-4 grid-margin stretch-card">
                              <a href="{% url 'admin_accounts' %}">
                                  <div class="card">
                                  <div class="card-body">
                                      <h4 class="card-title">Employees</h4>
                                      <div class="media">
                                      <i class="mdi mdi-account-multiple icon-md text-info d-flex align-self-end me-3"></i>
                                      <div class="media-body">
                                          <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                                      </div>
                                      </div>
                                  </div>
                                  </div>
                              </a>
                            </div>
                        </div>

                        <div class="card p-4">
                            <div class="row ">
                                <div class="col-sm-12 col-lg-6 col-md-6">
                                    <div class="d-flex align-items-center justify-content-center"><h4 class="mt-3"><span class="fw-bold" >{% now "F" %}</span> - Income & Expence  </h4></div>
                                </div>
                                <div class="col-sm-12 col-lg-6 col-md-6">
                                    <div class="d-flex align-items-center justify-content-center"><h4 class="mt-3"><span class="fw-bold" id="previousMonth" ></span> - Income & Expence  </h4></div>
                                </div>
                            </div>
    
                            <div class="row mt-4">
                                <div class="col-sm-12">
                                    <div class="statistics-details d-flex align-items-center justify-content-between">
                                        <div>
                                            <p class="statistics-title">Curr. Income </p>
                                            <h3 class="rate-percentage">{{income_total}}</h3>
                                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p>
                                        </div>
                                        <div>
                                            <p class="statistics-title">Curr. Expence</p>
                                            <h3 class="rate-percentage">{{exp_total}}</h3>
                                            <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                                        </div>
                                        <div>
                                            <p class="statistics-title">Current Balance</p>
                                            <h3 class="rate-percentage">{{bala_value}}</h3>
                                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                                        </div>
                                        <div class="d-none d-md-block">
                                            <p class="statistics-title">Prev. Income</p>
                                            <h3 class="rate-percentage">{{exp_total}}</h3>
                                            <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span></span></p>
                                        </div>
                                        <div class="d-none d-md-block">
                                            <p class="statistics-title">Prev. Expence</p>
                                            <h3 class="rate-percentage">{{income_total}}</h3>
                                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span></span></p>
                                        </div>
                                        <div class="d-none d-md-block">
                                            <p class="statistics-title">Prev. Balance</p>
                                            <h3 class="rate-percentage">{{bala_value}}</h3>
                                            <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span></span></p>
                                        </div>
                                    </div>
                                </div>          
                            </div>  
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-7 grid-margin  text-center"><h6 class="card-title fw-bold ">{% now "F" %} - &nbsp; Income & Expence &nbsp;chart</h6></div>
        <div class="col-lg-5 grid-margin text-center"><h6 class="card-title fw-bold"><span id="nextmonth"></span> -  Income & Expence</h6></div>
    </div>

    <div class="row">
        <div class="col-lg-7 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <canvas id="barChart"></canvas>
              </div>
            </div>
        </div>
        <div class="col-lg-5 grid-margin stretch-card">
           
            <div class="row">
                <div class="col-md-12 col-sm-6 grid-margin stretch-card">
                  <a href="{% url 'admin_analysis' %}">
                      <div class="card">
                      <div class="card-body">
                          <h4 class="card-title text-success">Income - &nbsp;{{next_month_income}} </h4>
                          <div class="media">
                          <i class="mdi mdi-arrow-up-thick icon-md text-info d-flex align-self-start me-3"></i>
                          <div class="media-body">
                              <p class="card-text">The above amount is calculated based on the Onthe Job Training (OJT) data of next month   </p>
                          </div>
                          </div>
                      </div>
                      </div>
                  </a>
                </div>
                <div class="col-md-12 grid-margin stretch-card">
                  <a href="{% url 'admin_paymentsview' %}">
                      <div class="card">
                      <div class="card-body">
                          <h4 class="card-title text-danger">Expence - &nbsp; {{next_month_exp}}</h4>
                          <div class="media">
                          <i class="mdi mdi-arrow-down-thick icon-md text-info d-flex align-self-center me-3"></i>
                          <div class="media-body">
                              <p class="card-text">Here the above expence amount is calculated based on the fixed expence data</p>
                          </div>
                          </div>
                      </div>
                      </div>
                  </a>
                </div>
                <div class="col-md-12 grid-margin stretch-card">
                  <a href="{% url 'admin_accounts' %}">
                      <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Balance - &nbsp; 
                            {% if next_month_income > next_month_exp %}
                            <span class="text-success span-data "><i class="mdi mdi-menu-up"></i> Profit</span> 
                            {% elif next_month_income < next_month_exp  %}
                            <span class="text-danger span-data"><i class="mdi mdi-menu-down"></i>Loss</span> 
                            {% else %}
                            <span class="text-success span-data"><i class="mdi mdi-menu-up"></i> No-Profit & No Loss</span>  
                            {% endif %}
                          </h4>
                          <div class="media">
                          <i class="mdi mdi-contrast  icon-md text-info d-flex align-self-end me-3"></i>
                          <div class="media-body">
                              <p class="card-text">Here we comparing  both expence and income, based on the value showing the balance of next month</p>
                          </div>
                          </div>
                      </div>
                      </div>
                  </a>
                </div>
            </div>
        </div>
    </div>

    
</div>
   

<!-- End Income & Expence Section -->



<!-- Script for Previous Month -->

    <script>
    function getPreviousMonthName() {
      var currentDate = new Date();
      currentDate.setMonth(currentDate.getMonth() - 1);
      
      var monthNames = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ];
      
      var previousMonthName = monthNames[currentDate.getMonth()];
      
      return previousMonthName;
    }
    </script>
    <script>
        function getNextMonthName() {
          var currentDate = new Date();
          currentDate.setMonth(currentDate.getMonth() + 1);
          
          var monthNames = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
          ];
          
          var previousMonthName = monthNames[currentDate.getMonth()];
          
          return previousMonthName;
        }
        </script>

    <script>
        document.getElementById("previousMonth").textContent = getPreviousMonthName();
        document.getElementById("nextmonth").textContent = getNextMonthName();
       
    </script>

<!--- End Previous month pick-->



{% endblock %}



<style>
    .line
    {
        width: 60px;
        height: 3px;
        border-bottom: 3px solid #000;
        margin-left: 0.60em;

    }
    h5{
        font-weight: 600;
        color: rgb(10, 18, 76);
        margin-bottom: 0.80em;
    }
    .card{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
        padding: 0.90em;
        border: none;
    }
    .card span
    {
        font-size: 0.80em;
        font-weight: 600;
        color: rgb(18, 11, 72);
    }
    .card .count_no
    {
        font-size: 1.3em;
        font-weight: 700;
    }
    form
    {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
        padding:1em 0.90em;
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 0.80em;
    }
    .input-date-box label
    {
        font-size: 0.85em;
        margin-bottom: 0.050em;
        font-weight: 800;
    }
    .input-date-box input
    {
        font-size: 0.85em;
        padding:  0.050em;
        padding-left:  0.80em;
        font-weight: 500;
    }
    .submit-box
    {
        padding-top: 1em;
    }
    .inex-profit
    {
        color: rgb(46, 151, 7);
    }
    .submit-box button
    {
        border: none;
        background: #11083efe;
        color: #fff;
        cursor: pointer;
        padding: 0.10em;
    }
    .submit-box button i{
        font-size: 16px;
        padding: 0.30em;
    }
    .inex-loss
    {
        color: rgb(230, 21, 21);
    }
    .inex-equl
    {
        color: rgb(234, 227, 20);
    }
    #head-sction
    {
        display: flex;
        align-items: center;
       justify-content: space-between;
        padding: 1em;
    }
    #head-sction h2{
        font-size: 2em;
        color: rgb(15, 21, 73);
        font-weight: 600;
    }
    #head-sction a
    {
        background: #090852;
        color: #fff;
        padding: 0.70em;
        border-radius: 10px;
        font-weight: 600;
        font-size: 0.90em;
        cursor: pointer;
    }
    #head-sction a:hover
    {
        background: #f3f3f5;
        color: #090852;
        padding: 0.70em;
        border-radius: 10px;
        font-weight: 600;
        font-size: 0.90em;
        cursor: pointer;
    }
    #income-exp-box
    {
        display:grid ;
        grid-template-columns: 0.85fr 1fr 0.90fr;
        padding: 1em;
        gap: 0.80em;
    }
    .income_expence_box
    {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 0.80em;
    }
    .income_expence_box .chart-box
    {
        margin-bottom: 0.60em;
    }
    .income_expence_box .details-box
    {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      gap:0.30em
    }
    .details-box .card
    {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
        padding: 0.90em;
        border: none;
    }
    .details-box .card h6{
        font-size: 0.95em;
        font-weight: 700;
        line-height: 1.7em;
    }
    .value
    {
        font-size: 0.95em;
        font-weight: 700;
        color: rgb(8, 8, 51);
    }
    .loader h5{
        font-size: 0.95em;
        font-weight: 700;
        
    }
    .internship
    {
       display: flex;
        align-items:center;
      
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 1.1em;
    }
    .internship h6{
     margin-top: 2em;
     font-weight: 600;
     margin-bottom: 1em;
    }
    .employee_reg h6{
        margin-top: 2em;
        font-weight: 600;
        margin-bottom: 1em;
       }
    .counts
    {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: row;
        gap: 0.40em;
    }
    .pre_counts
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        gap: 0.40em;
    }
    .emp_sal_section
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 0.40em;
    }
    .counts .card, .pre_counts .card,  .emp_sal_section .card
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .counts .card p, .pre_counts .card p, .emp_sal_section .card p
    {
      font-size: 0.80em;
      letter-spacing: 0.03em;
      margin-top: 0.40em;
      margin-bottom: -0.02em;
      font-weight: 600;
    }
    .employee_reg
    {
        display: flex;
        align-items:center;
      
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 0.80em;
    }
    #perdition .card p{
        font-size: 0.80em;
    }

    @media(max-width:832px)
    {
        #income-exp-box
        {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>



<main>
  

        <div class="internship">

            <h5>Onthe Job Training</h5>

            <div class="counts">
                <div class="card">
                    <i class="bi bi-people"></i>
                    <p>Registration</p>
                    <span class="count_no" style="font-size:0.94em;">{{content.reg}}</span>
                    
                </div>
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Total Cash</p>
                    <span style="font-size:0.92em;">{{content.reg_ojt_amt}} /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-people"></i>
                    <p>Reg. {% now "F" %}</p>
                    <span class="count_no" style="font-size:0.94em;">{{content.reg_c}}</span>
                    
                </div>
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Total Cash</p>
                    <span style="font-size:0.92em;">{{content.reg_c_amt}} /-</span>
                </div>
                
                
            </div>

            
            <h6>O T J  &nbsp; On &nbsp;{% now "F" %} </h6>

            <div class="pre_counts" id="perdition">
                <div class="card">
                    <span>UnPaid <i class="bi bi-calendar-week"></i></span>
                    <p>1 To 7</p>
                    <span class="count_no">{{content.payhistory1_c}}</span>
                    <span>{{content.payhistory1}} /-</span>
                </div>
                
                <div class="card">
                    <span>UnPaid <i class="bi bi-calendar-week"></i></span>
                    <p> 8 To 15</p>
                    <span class="count_no">{{content.payhistory8_c}}</span>
                    <span>{{content.payhistory8}} /-</span>
                </div>
                
                <div class="card">
                    <span>UnPaid <i class="bi bi-calendar-week"></i></span>
                    <p> 15 To End</p>
                    <span class="count_no">{{content.payhistory15_c}}</span>
                    <span>{{content.payhistory15}} /-</span>
                </div>
                <div class="card">
                    <span>UnPaid <i class="bi bi-calendar-week"></i></span>
                    <p> {% now "F" %}</p>
                    <span class="count_no">{{content.reg_upaid_c}}</span>
                    <span>{{content.reg_upaid}} /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-calendar3"></i>
                    <p>Next Month</p>
                    <span class="count_no">{{content.next_reg_upaid_c}}</span>
                    <span>{{content.next_reg_upaid}} /-</span>
                </div>
            </div>

            
            <h6>Payments</h6>
            <div class="counts">
                <div class="card">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    <p>Pending</p>
                    <span class="count_no">{{content.reg_pending}}</span>
                    <span>{{content.reg_p_amt}} /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>Completed</p>
                    <span class="count_no">{{content.reg_complete}}</span>
                    <span>{{content.reg_c_amt}} /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-x-circle-fill"></i>
                    <p>Incomplete</p>
                    <span class="count_no">{{content.reg_incomplete}}</span>
                    <span>{{content.reg_in_amt}} /-</span>
                </div>
            </div>

        </div>
        
        <div class="employee_reg">

            <h5>Employees</h5>

            <div class="counts">
                <div class="card">
                    <i class="bi bi-people"></i>
                    <p>Emp.Reg</p>
                    <span class="count_no" style="font-size:0.94em;">{{content.emp_reg}}</span>
                </div>
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Total Paid Salary</p>
                    <span>{{content.emp_reg_tsal}} /-</span>
                </div>
                
            </div>

            <h6>Payments On &nbsp;{% now "F" %}</h6>
            <div class="counts">
                <div class="card">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>Confirmed Salary</p>
                    <span class="count_no">{{content.emp_con_sal}}</span>
                    <span>{{content.emp_con_sal_amt}} /-</span>
                </div>
               
                <div class="card">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>Salary Paid</p>
                    <span class="count_no">{{content.emp_sal_count}}</span>
                    <span>{{content.emp_sal}} /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-x-circle-fill"></i>
                    <p>Salary Unpaid</p>
                    <span class="count_no">{{content.emp_unpaid}}</span>
                    <span>{{content.emp_unp_amt}} /-</span>
                </div>
            </div>

            <h6>Salary Payments On  &nbsp;{% now "F" %}</h6>
            <div class="emp_sal_section" id="#">
               
               
                <div class="card">
                    <i class="bi bi-calendar-week"></i>
                    <p>1 To 14</p>
                    <span class="count_no">{{content.empsalc_1to7}}</span>
                    <span>{{content.empsal_1to7}} /-</span>
                </div>
               
                <div class="card">
                    <i class="bi bi-calendar-week"></i>
                    <p>15 To End</p>
                    <span class="count_no">{{content.empsalc_15to}}</span>
                    <span>{{content.empsal_15to}} /-</span>
                </div>
                
                
            </div>

        </div>
        
        
    </div>



    
<script>
    const counters = document.querySelectorAll('.value');
    const speed = 400;
    
    counters.forEach( counter => {
       const animate = () => {
          const value = +counter.getAttribute('akhi');
          const data = +counter.innerText;
         
          const time = value / speed;
         if(data < value) {
              counter.innerText = Math.ceil(data + time);
              setTimeout(animate, 1);
            }else{
              counter.innerText = value;
            }
         
       }
       
       animate();
    });
</script>



</main>