{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}


<div class="content-wrapper">

    <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active ps-0" id="" data-bs-toggle="tab"  href="#income-expence-view" role="tab" aria-controls="add-income-expence" aria-selected="true">Income Expence Details  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="" data-bs-toggle="tab" href="#add-income-expence" role="tab" aria-selected="false">Income Expence Add</a>
                </li>
                
              </ul>
              {% if success_msg %}
                <div class="messageBox-container" id="message-container">
                
                        <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                        <p class="text-center success-text">{{success_msg}}</p>
                </div>
              {% elif error_msg %}
                <div class="messageBox-container" id="message-container">
                        <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                        <p class="text-center error-text">{{error_msg}}</p>
                </div>
              {% endif %}
              <div>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                  <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                  <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                </div>
              </div>
            </div>
            <div class="tab-content tab-content-basic">

                <div class="tab-pane fade show active" id="income-expence-view" role="tabpanel" aria-labelledby=income-expence-view"> 

                  <div class="row">
                    <div class="col-md-4 grid-margin stretch-card">
                     
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-success">Income - <i class="mdi mdi-currency-inr icon-sm"></i> {{inco}} -
                                    {% if balans > 0 %}
                                       <span class="text-normal">{% now "F" %}</span><span class="text-success text-sm"> ( Profit )</span>
                                    {% elif balans < 0%}
                                    <span class="text-normal"> {% now "F" %}</span><span class="text-danger text-sm"> ( Loss )</span>
                                    {% else %}
                                    <span class="text-normal"> {% now "F" %}</span><span class="text-primary text-sm"> ( Equal )</span>
                                    {% endif %}
                                 </h4>
                                <div class="media">
                                <i class="mdi mdi-plus icon-md text-info d-flex align-self-start me-3"></i>
                                <div class="media-body">
                                    <p class="card-text">The Income calculated based on all state.( OJT and other incomes)</p>
                                </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                    
                        <div class="card">
                          <div class="card-body">
                              <h4 class="card-title text-danger">Expence - <i class="mdi mdi-currency-inr icon-sm"></i> {{expe}} </h4>
                              <div class="media">
                              <i class="mdi mdi-minus icon-md text-info d-flex align-self-center me-3"></i>
                              <div class="media-body">
                                  <p class="card-text">The Expence calculated based on all state. ( salary and fixed expence and 0ther)</p>
                              </div>
                              </div>
                          </div>
                        </div>
                      
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                     
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Balance - <i class="mdi mdi-currency-inr icon-sm"></i> {{balans}}</h4>
                              <div class="media">
                              <i class="mdi mdi-contrast icon-md text-info d-flex align-self-end me-3"></i>
                              <div class="media-body">
                                  <p class="card-text">The Balance calculated based on the in come and expence</p>
                              </div>
                              </div>
                            </div>
                        </div>
                      
                    </div>
                </div>

                    <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash">Income Expence of all state </h4>
                                <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{exp_income_count}}</span> recordes</p>
                                </div>
                                <div>
                                    <form class="search-form" action="#" method="post">
                                        {% csrf_token %}
                                        <div class="searchBox">
                                    
                                            <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                            <button type="button" class="close-btn" id="closeBtn">
                                                 <i class="mdi mdi-close"></i>
                                            </button>
                                            
                                        </div>
                                        <div class="w-box" >
                                            <select name="search_select" class="search-select">
                                               
                                                <option value="0" > All states </option>
                                                {% for state in states %}
                                                <option value="{{state.id}}">{{state.state_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="">
                                            <input type="date" class="search-date" name="start_date">
                                        </div>
                                        <div class=" ">
                                            <input type="date" class="search-date" name="end_date">
                                        </div>
                                        <div>
                                            <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                
                                </div>
                                <div class="table-responsive  mt-1">
                                <table class="table select-table" id="income-expence">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Head Name</th>
                                        <th>Income</th>
                                        <th>Expence</th>
                                        <th>Note</th>
                                        <th>State</th>
                                       
                                    </tr>
                                    </thead>
                                    <tbody>
                                        
                                    {% for i in exp_income %}
                                    
                                    <tr>
                                   
                                        <td>{{i.exin_date}}</td>
                                        <td>{{i.exin_head_name}}</td>
                                        {% if i.exin_typ == 1 %}
                                        <td class="income">{{i.exin_amount}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        {% if i.exin_typ == 2 %}
                                        <td class="exp">{{i.exin_amount}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        <td>{{i.exin_dese}}</td>
                                        <td>{{i.exin_state.state_name}}</td>
                                        
                                    </tr>
                                   
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="tab-pane fade " id="add-income-expence" role="tabpanel" aria-labelledby="add-income-expence"> 
                  <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-lg-12">
                                <form action="{% url 'admin_income_expence_add' %}" class="forms-sample" method="post">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-between align-items-center">
                                          <h4 class="card-title card-title-dash">Company Income Expence Form</h4>
                                      
                                          <button type="submit" class="btn btn-primary btn-lg text-white"><i class="mdi mdi-plus-circle"></i></button>
                                      
                                    </div>
                                    <div class="form-group ">
                                      <label for="empName">Choose Type</label>
                                      <div class="pt-2">
                                          <span class="small-text" ><input type="radio" id="income" name="adexin_type" value="1" checked > Income</span>
                                          <span class="small-text pl-1 "> <input type="radio"  id="expence" name="adexin_type" value="2" > Expence</span>
                                      </div>
                                      
                                  </div>
                                
                                    <div class="form-group ">
                                        <label for="empName">Head Name</label>
                                        <input type="text" class="form-control small-text" id="empName" name="adexin_head_name"  placeholder="Head " required>
                                    </div>
                                    <div class="form-group ">
                                        <label for="Date_ofjoin">Date</label>
                                        <input type="date" class="form-control small-text" id="adexin_date" name="adexin_date" placeholder="Date ">
                                    </div>
                                  
                                    <div class="form-group">
                                      <label for="Department">State</label>
                                      <select  class="form-control small-text" id="state" name="emp_state" required>
                                        <option value="0" selected>Company</option>
                                        {% for state in states %}
                                        <option value="{{state.id}}">{{state.state_name}}</option>
                                        {% endfor %}
                                        
                                      </select>
                                  </div>
                                    <div class="form-group ">
                                        <label for="Employeeeid">Amount</label>
                                        <input type="text" class="form-control small-text" id="Employeeeid" name="adexin_amt" placeholder=" Expence / Income Amount">
                                    </div>
                                    <div class="form-group ">
                                        <label for="confirmed"> Note</label>
                                        <textarea class="form-control small-text" id="adexin_dese" name="adexin_dese"style="height:100px;" placeholder="confirmed Salary"></textarea>
                                    </div>
                                  
                                </form>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
      
                </div>

             
            </div>
          </div>
        </div>
    </div>

</div>



<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const ojtTable = document.getElementById('income-expence');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = ojtTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
           
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            
            

            if (Cell1 || Cell2 ) {
               
                const Celldata1 = Cell1.textContent || Cell1.innerText;
               

                if (Celldata1.toLowerCase().includes(filterValue) ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

    // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>


{% endblock %}
