{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}



<style>

/*Register Box Register-details  Style */

    #register-box .contaier-fluid
    {
        display: grid;
        grid-template-columns:2.2fr;
        padding: 1em;
        gap: 1em;
        background-color:#fafafa;
       
       
    }
    .register-details
    {
        height: 80vh;
        background: #ffff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       
    }

    .register-details h4, .register-details-table h4{
      
        margin-top: 1.1em;
        font-size: 1.35em;
        margin-left: 0.40em;
        font-weight: 500;
        letter-spacing: 0.04em;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(38, 17, 63);
       
        
    }
    .register-details .line,  .register-details-table .line
    {
        width: 60px;
        height: 3px;
        border-bottom: 3px solid #000;
        margin-left: 0.60em;

    }

    /* Alert box */

    .register-details .message-bx,  .register-details .message-bx-confirm
    {
       
        color: #fafafa;
        font-size: 0.98em;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 0.50em ;
        height: 5vh;
        margin-top: 1.2em; 
    }
    .register-details .message-bx
    {
        background: #e8e340;
    }
    .register-details .message-bx-confirm
    {
        background: #6fc146;
    }
  
    .register-details .message-bx-delete
    {
        background: #f7684c;
        color: #fafafa;
        font-size: 0.98em;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 0.50em ;
        height: 5vh;
        margin-top: 1.2em;
       
    }
    .register-details form{
        padding:0.50em 1em;
        background: #fafafa;
    }
    .register-details form .input-group-box
    {
        margin-top: 1.5em;
    }
    .input-group-box label
    {
        width: 35%;
        font-size: 0.90em;
        font-weight: 600;
        padding: 0.40em;
    }
    .input-group-box input, select{
      width: 55%;
      padding: 0.20em;
      border: 1px solid #828181;
      font-size: 0.90em;
     
    }
    .input-group-box input:focus, select:focus
    {
        border:0.01rem solid #111158;
        outline: none;
        border-radius: 3px;
    }
    .input-group-box select option{
        font-size: 0.90em;
        padding: 1em 0em;
    }
    .submit_button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        background: #fafafa;
        margin-top: 1em;
    }
    .submit_button button
    {
        padding: 0.40em 1.4em;
        font-weight: 600;
        background: #261b52;
        color: #ffff;
        margin:none ;
        border: none;
        letter-spacing: 0.04em;
    }
    #register-details a
    {
        padding: 0em 0.40em;
        font-size: 1.1em;
    
    }
    #register-details .edit
    {
        font-size: 0.95em;
    }
    #register-details .edit:nth-child(1)
    {
      
        color: #1b126f; 
    }
    #register-details .check
    {
      
        color: #3da309; 
    }
    #register-details .wating
    {
        color: #fff308;
    }
    #register-details .wating span
    {
        color: #d3c90d;
        font-size: 0.85em;
        font-weight: 600;
    }
    #register-details .notcheck
    {
        color: #ec0909;
    }
    #register-details .confirmbtn
    {
        font-size: 0.89em;
        font-weight: 600;
        border: none;
        padding: 0.40em 0.80em;
        background: #111158;
        color: #ffff;
    }
    .down-load
    {
        color: #ec0909;
        cursor: pointer;
    }
    .not-download
    {
        color: #f7ea2d;
    }
    /* Media Query*/
    @media(max-width:964px)
    {
        #register-box .contaier-fluid
        {
        grid-template-columns:repeat(1,1fr) ;
        }
        .register-details
        {
            height: auto;
        }
        
    }
    /*Register Box Register-details End Style */

     /*Register Box Register-details Table Style */
     .register-details-table .container
     {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      
        margin-top: 1.4em;
        padding-top:2em ;
        padding-bottom:2em ;
     }
     #register-details
     {
        font-size: 0.90em;
     }
      /* Media Query*/
    @media(max-width:964px)
    {
    
        .register-details-table .container
        {
            height: auto;
            overflow-x: scroll;
          
           
        }
        #register-details
        {
          width: 100%; 
        }
        .register-details-table 
        {
            overflow-x: scroll;
        }
    }
    #register-details .start
    {
        background: #ec0909;
        color: #fff;
    }
    #register-details .progressing
    {
        background: #ffff53;
    }
    #register-details .end
    {
        background: #74f342;
    }

     /*Search Box styling */
     .register-details-table .form
     {
         padding: 0.80em 0.60em;
         margin-bottom: 1em;
     }

     .register-details-table  .search-box
     {
         display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1em;
        justify-content: center;
        gap: 2em;
     }
     .register-details-table  .search-box .input-date-box
     {
         padding: 0.80em .50em;
     }
     .register-details-table  .search-box .input-date-box label
     {
         font-size: 0.92em;
         font-weight: 600;
         margin-right: 0.40em;
     }
     .register-details-table  .search-box .input-date-box input{
        padding: 0.30em;
       
        border: 1px solid #0c1846;
        margin: none;
     }
     .register-details-table  .search-box button
     {
         background: none;
         border: none;
         margin: none;
         cursor: pointer;
         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
         padding: 0.20;
     }
     .register-details-table .search-box button:hover{
         box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
     }

       /* End Search Box styling */
   
</style>


<main>
    <section id="register-box">
        <div class="contaier-fluid">
            
            <div class="register-details-table">
                <h4>Payments List <a href="{% url 'admin_paymentsview' %}"><i class="bi bi-arrow-left-square-fill"></i></a></h4>
                <div class="line"></div>

                <form action="{% url 'adminsearch_data_full' %}" method="post">
                    {% csrf_token %}
                    <div class="search-box">
                        <div class="input-date-box">
                            <label>From Date :</label>
                            <input type="date" name="fr_data">
                        </div>
                        <div class="input-date-box">
                            <label>To Date :</label>
                            <input type="date" name="to_date">
                        </div>
                        <div class="submit-box">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>

                <div class="container">

                    <table id="register-details" class="display" >
                        <thead>
                            <tr>
                                <th></th>
                                <th>Full Name</th>
                                <th>Department</th>
                                <th>BAL Amount</th>
                                <th>TL Amount</th>
                                <th>Payment Head </th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Pay Status</th>
                                <th>Status</th>
                                <th>Receipt</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in payhis %}
                                {% if i.reg_id.payprogress >= 10 and i.reg_id.payment_status == 0 %}
                                
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                            
                                        </td>
                                        <td class="progressing">{{i.reg_id.fullName}}</td>
                                    
                                        <td class="progressing">{{i.reg_id.dept_id.department}}</td>
                                        <td class="progressing">{{i.paybalance_amt}} </td> 
                                        <td class="progressing">{{i.paytotal_amt}} </td> 
                                        <td class="progressing">{{i.head_name}}</td>
                                        <td class="progressing">{{i.paydofj}}</td>
                                        <td class="progressing">{{i.payintial_amt}}</td>
                                        <td class="text-center">
                                            {% if i.admin_payconfirm == 1 and i.pay_status == 1 %}
                                                <a href="#" class="check"><i class="bi bi-check-circle-fill"></i></a>
                                            {% else %}
                                                <a href="#" class="wating"><i class="bi bi-exclamation-triangle-fill"></i>wating..</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            
                                            <span style="color: #0f1271; font-size:0.90em; font-weight: 800;" >Progressing</span>
                                    
                                        </td>
                                        <td class="text-center"> <a href="{% url 'singeldata_receipt' i.id %}" class="down-load"><i class="bi bi-file-pdf-fill"></i></a></td>
                                        
                                    </tr>
                                
                                {% elif  i.reg_id.payprogress == 100 or i.reg_id.payment_status == 1 %}

                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                       
                                    </td>
                                    <td class="end">{{i.reg_id.fullName}}</td>
                                
                                    <td class="end">{{i.reg_id.dept_id.department}}</td>
                                    <td class="end">{{i.paybalance_amt}} </td> 
                                    <td class="end">{{i.paytotal_amt}} </td> 
                                    <td class="end">{{i.head_name}}</td>
                                    <td class="end">{{i.paydofj}}</td>
                                    <td class="end">{{i.payintial_amt}}</td>
                                    <td class="text-center">
                                        {% if i.admin_payconfirm == 1 and i.pay_status == 1 %}
                                            <a href="#" class="check"><i class="bi bi-check-circle-fill"></i></a>
                                        {% else %}
                                            <a href="#" class="wating"><i class="bi bi-exclamation-triangle-fill"></i>wating..</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if i.reg_id.payment_status == 1 %}
                                            <span style="color: #44c60c; font-size:0.90em; font-weight: 800;">Completed</span>
                                        
                                        {% endif %}
                                    </td>
                                    {% if i.pay_status == 1 %}
                                    <td class="text-center"> <a href="{% url 'singeldata_receipt' i.id %}" class="down-load"><i class="bi bi-file-pdf-fill"></i></a></td>
                                    {% else %}
                                    <td class="text-center"> <a href="#" class="not-download"><i class="bi bi-exclamation-diamond-fill"></i></a></td>
                                    {% endif %}
                                </tr>

                                {% else %}
                                    {% if i.reg_id.payment_status == 2 or i.reg_id.reg_status == 2  %}

                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                               
                                            </td>
                                            <td class="start">{{i.reg_id.fullName}}</td>
                                        
                                            <td class="start">{{i.reg_id.dept_id.department}}</td>
                                            <td class="start">{{i.paybalance_amt}} </td> 
                                            <td class="start">{{i.paytotal_amt}} </td> 
                                            <td class="start">{{i.head_name}}</td>
                                            <td class="start">{{i.paydofj}}</td>
                                            <td class="start">{{i.payintial_amt}}</td>
                                            <td class="text-center">
                                                {% if i.admin_payconfirm == 1 and i.pay_status == 1 %}
                                                    <a href="#" class="check"><i class="bi bi-check-circle-fill"></i></a>
                                                {% else %}
                                                <a href="#" class="wating"><i class="bi bi-exclamation-triangle-fill"></i>wating..</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                               
                                                <span style="color: #ec0909; font-size:0.90em; font-weight: 800;">Deactive</span>
                                                
                                            </td>
                                            <td class="text-center"> <a href="{% url 'singeldata_receipt' i.id %}" class="down-load"><i class="bi bi-file-pdf-fill"></i></a></td>
                                            
                                        </tr>

                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                          
                        </tbody>
                       
                    </table>

                </div>
            </div>
           
        </div>
    </section>

    <!-- Meaage Box fead Out -->


</main>

{% endblock %}