{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

<div class="content-wrapper">

    <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active ps-0" id="" data-bs-toggle="tab"  href="#Fixed-expence-view" role="tab" aria-controls="add-income-expence" aria-selected="true">Fixed Expence Details  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="" data-bs-toggle="tab" href="#add-Fixed-expence" role="tab" aria-selected="false">Fixed Expence Add</a>
                </li>
                
              </ul>
              {% if success_msg %}
                <div class="messageBox-container" id="message-container">
                
                        <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                        <p class="text-center success-text">{{success_msg}}</p>
                </div>
              {% elif error_msg %}
                <div class="messageBox-container" id="message-container">
                        <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                        <p class="text-center error-text">{{error_msg}}</p>
                </div>
              {% endif %}
              <div>
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                  <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                  <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                </div>
              </div>
            </div>

            
            <div class="edit-div" id="editDiv">
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                            <span class=" text-danger"  onclick="closeEditDiv()"><i class="mdi mdi-close-circle-outline mdi-18px"></i></span>
                          <div class="row">
                            <div class="col-lg-12">
                              <form action="{% url 'admin_fixed_expence_add' %}" class="forms-sample" method="post">
                                  {% csrf_token %}
                                  <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="card-title card-title-dash"><span id="edit_state"></span>  Fixed Expence Edit Form</h4>
                                     
                                        <button type="submit" class="btn btn-primary btn-lg text-white"><i class="mdi mdi-check"></i></button>
                                     
                                  </div>
                                  
                               
                                  <div class="form-group ">
                                        <input type="hidden" name="fixedid" id="fixedid">
                                      <label for="empName">Head Name</label>
                                      <input type="text" class="form-control small-text" id="fixed_head_name" name="fixed_head_name"  placeholder="Head " required>
                                  </div>
                                  <div class="form-group ">
                                      <label for="Date_ofjoin">Date</label>
                                      <input type="date" class="form-control small-text" id="fixed_date" name="fixed_date" placeholder="Date ">
                                  </div>
                                 
                                  <div class="form-group">
                                   
                                    <label for="state">State</label>
                                    <select  class="form-control small-text" id="state" name="fixed_state" required>
                                        <option value="0">Select a state</option>
                                      {% for state in states %}
                                      <option value="{{state.id}}">{{state.state_name}}</option>
                                      {% endfor %}
                                      
                                    </select>
                                </div>
                                  <div class="form-group ">
                                      <label for="Employeeeid">Amount</label>
                                      <input type="text" class="form-control small-text" id="fixed_amt" name="fixed_amt" placeholder=" Expence / Income Amount">
                                  </div>
                                  <div class="form-group ">
                                      <label for="confirmed"> Note</label>
                                      <textarea class="form-control small-text" id="fixed_dese" name="fixed_dese" style="height:100px;" placeholder="confirmed Salary"></textarea>
                                  </div>
                                 
                              </form>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="Fixed-expence-view" role="tabpanel" aria-labelledby="income-expence-view"> 
                
                    <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash">Fixed Expence of all state </h4>
                                <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{fixedexp_count}}</span> recordes  and total <span class="count-value">{{fixedexp_amt}}</span></p>
                                </div>
                                <div>
                                    <form class="search-form" action="{% url 'admin_fixed_expence' %}" method="post">
                                        {% csrf_token %}
                                        <div class="searchBox">
                                    
                                            <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                            <button type="button" class="close-btn" id="closeBtn">
                                                 <i class="mdi mdi-close"></i>
                                            </button>
                                            
                                        </div>
                                        <div class="w-box" >
                                            <select name="search_select" class="search-select" required>
                                               
                                                <option value="0"> All states </option>
                                                {% for state in states %}
                                                <option value="{{state.id}}">{{state.state_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="">
                                            <input type="date" class="search-date" name="start_date">
                                        </div>
                                        <div class=" ">
                                            <input type="date" class="search-date" name="end_date">
                                        </div>
                                        <div>
                                            <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                
                                </div>
                                <div class="table-responsive  mt-1">
                                <table class="table select-table" id="fixed-expence">
                                    <thead>
                                        <tr>
                                            <th>DELTE / EDIT</th>
                                            <th>State</th>
                                            <th>Date</th>
                                            <th>Head Name</th>
                                            <th>Amount</th>
                                            <th>Note</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for i in fixedexp %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'admin_fixed_delete' i.id %}" class="text-danger "><i class="mdi mdi-close-circle mdi-18px "></i></a>
                                           
                                                <span onclick="openEditDiv('{{ i.id }}')" class="text-primary pl-1"><i class="mdi mdi-pen mdi-18px"></i></span>
                                            </td>
                                            <td>{{i.fixed_state.state_name}}</td>
                                            <td>{{i.fixed_date}}</td>
                                            <td>{{i.fixed_head_name}}</td>
                                            <td>{{i.fixed_amount}}</td>
                                            <td>{{i.fixed_dese}}</td>
                                            <td>
                                                {% if i.fixed_status == 1 %}
                                                <a href="{% url 'admin_fixed_change_status' i.id %}"><span style="color: #201a56;">Active</span></a>
                                                {% else %}
                                                <a href="{% url 'admin_fixed_change_status' i.id %}"><span style="color: #ea1b1b;">Re-active</span></a>
                                                {% endif %}
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                  </div>
              <div class="tab-pane fade " id="add-Fixed-expence" role="tabpanel" aria-labelledby="add-income-expence"> 
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-12">
                              <form action="{% url 'admin_fixed_expence_add' %}" class="forms-sample" method="post">
                                  {% csrf_token %}
                                  <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="card-title card-title-dash">Fixed Expence Form</h4>
                                     
                                        <button type="submit" class="btn btn-primary btn-lg text-white"><i class="mdi mdi-plus-circle"></i></button>
                                     
                                  </div>
                                  
                               
                                  <div class="form-group ">
                                      <label for="empName">Head Name</label>
                                      <input type="text" class="form-control small-text" id="fixed_head_name" name="fixed_head_name"  placeholder="Head " required>
                                      <input type="hidden" name="fixedid" value="0">
                                    </div>
                                  <div class="form-group ">
                                      <label for="Date_ofjoin">Date</label>
                                      <input type="date" class="form-control small-text" id="fixed_date" name="fixed_date" placeholder="Date ">
                                  </div>
                                 
                                  <div class="form-group">
                                    <label for="state">State</label>
                                    <select  class="form-control small-text" id="state" name="fixed_state" required>
                                      <option value="0" selected>select state</option>
                                      {% for state in states %}
                                      <option value="{{state.id}}">{{state.state_name}}</option>
                                      {% endfor %}
                                      
                                    </select>
                                </div>
                                  <div class="form-group ">
                                      <label for="Employeeeid">Amount</label>
                                      <input type="text" class="form-control small-text" id="fixed_amt" name="fixed_amt" placeholder=" Expence / Income Amount">
                                  </div>
                                  <div class="form-group ">
                                      <label for="confirmed"> Note</label>
                                      <textarea class="form-control small-text" id="fixed_dese" name="fixed_dese"style="height:100px;" placeholder="confirmed Salary"></textarea>
                                  </div>
                                 
                              </form>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
     
              </div>

             
            </div>
          </div>
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

  // Ajax call for to edit Fixed Expence of state 

function openEditDiv(itemId) {
  console.log('Button click')
  $.ajax({
    url: '/Admin-Fixed-Edit/' + itemId ,
    type: 'GET',
    success: function(content) {
    
      displayEditDiv(content);
    },
    error: function() {
      console.error('Error fetching item data.');
    }
  });
}

// Display the edit form 
function displayEditDiv(content) {
  var editDiv = $('#editDiv');
  editDiv.css('display', 'block');
  $('#fixed_date').val(content.date);  
  $('#fixed_amt').val(content.amount);
  $('#fixed_dese').val(content.descr);
  $('#fixed_head_name').val(content.head_name);
  $('#fixedid').val(content.edit_id);
  $('#edit_state').text(content.state_name);

}

// Hide the edit form
function closeEditDiv() {
  var editDiv = document.getElementById('editDiv');
  editDiv.style.display = 'none';
}

</script>


<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const ojtTable = document.getElementById('fixed-expence');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = ojtTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
           
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            
            

            if (Cell1 || Cell3 ) {
               
                const Celldata1 = Cell1.textContent || Cell1.innerText;
                const Celldata3 = Cell3.textContent || Cell1.innerText;
               

                if (Celldata1.toLowerCase().includes(filterValue) ||Celldata3.toLowerCase().includes(filterValue) ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

    // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>



{% endblock %}


    