{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}


<!--- All Employees   -->
<div class="content-wrapper">

    <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title card-title-dash">Employess    </h4>
                            <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{emp_reg_count}}</span> Employess. 
                                
                            </p>
                        </div>
                        <div>
                            <form class="search-form" action="#" method="post">
                                {% csrf_token %}
                            
                                <div class="searchBox">
                                    
                                    <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                    <button type="button" class="close-btn" id="closeBtn">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                    
                                </div>
                            
                                <div class="w-box" >
                                    <select name="search_select" class="search-select">
                                    
                                        <option value="0"> All states </option>
                                        {% for state in states %}
                                        <option value="{{state.id}}">{{state.state_name}}</option>
                                        {% endfor %}
                                    </select>     
                                </div>
                                <div class="w-box">
                                    <input type="date" class="search-date" name="start_date">
                                </div>
                                <div class="w-box">
                                    <input type="date" class="search-date" name="end_date">
                                </div>
                                <div>
                                    <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="table-responsive  mt-1">
                        <table class="table select-table" id="emp-list">
                            <thead>
                                <tr>
                                    <th>Remove</th>
                                    <th>Date Of Joing</th>
                                    <th>Employee Id</th>
                                    <th>Full Name</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                    <th>Confirmed Salary</th>
                    
                                    <th>State</th>
                                    <th>Reg. Status</th>
                                   
                                   
                                    <th>Salary Status</th>
                                   
                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in emp_reg %}
                                <tr>
                                    <td >
                                        <a href="{% url 'admin_emp_reg_delete' i.id  %}" class="text-danger"><i class="mdi mdi-account-remove mdi-18px"></i> </a>

                                    </td>
                                    <td>{{i.empdofj}}</td>
                                    <td>{{i.empidreg}}</td>
                                    
                                    <td><a href="{% url 'admin_employee_salary_details' i.id %}" style="font-size: 0.91em;">{{i.empfullName}}</a></td>
                                    <td>{{i.empdesignation}}</td>
                                    
                                    <td>{{i.empdept_id.department}}</td>
                                    <td class="text-center">{{i.empconfirmsalary}}</td>
                                    
                                    <td>{{i.empstate}}</td>
    
                                    <td class="text-center">
                                        {% if i.emp_status == 1 %}
                                        <a href="{% url 'admin_emp_reg_deactive' i.id %}"><span style="color: #0c8825;"><i  class="mdi mdi-account-check mdi-18px"></i> </span></a>
                                        {% else %}
                                        <a href="{% url 'admin_emp_reg_reactive' i.id %}"><span style="color: #f61212;font-weight: 600;">De-active </span></a>
                                        {% endif %}
                                    </td>
                                   
                                   
                                   
                                    <td class="text-center">
                                        {% if i.emp_salary_status == 1 %}
                                        <a href="{% url 'admin_emp_salary_deactive' i.id %}"><span style="color:  #0c8825;"><i  class="mdi mdi-account-check mdi-18px"></i> </span></a>
                                        {% else %}
                                        <a href="{% url 'admin_emp_salary_active' i.id %}"><span style="color: #f02121;font-weight: 600;">De-active </span></a>
                                        {% endif %}
                                    </td>
                                    
                                   
                                    
                                </tr>
                                {% endfor %}
                              
                            </tbody>
                           
                        
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const salaryTable = document.getElementById('emp-list');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = salaryTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
           
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            const Cell5 = rows[i].getElementsByTagName('td')[5];
            
            

            if (Cell2 || Cell3  || Cell4 || Cell5 ) {
               
                const Celldata2 = Cell2.textContent || Cell2.innerText;
                const Celldata3 = Cell3.textContent || Cell3.innerText;
                const Celldata4 = Cell4.textContent || Cell4.innerText;
                const Celldata5 = Cell5.textContent || Cell5.innerText;
               

                if (Celldata2.toLowerCase().includes(filterValue) || Celldata3.toLowerCase().includes(filterValue) || Celldata4.toLowerCase().includes(filterValue) || Celldata5.toLowerCase().includes(filterValue) ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

    // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>



{% endblock %}


