{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

<div class="content-wrapper">
    
    <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title card-title-dash">Salary Payments on  &nbsp;{% now "F" %}    </h4>
                            <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{emp_reg_count}}</span> Employees , Total amount neead - <span class="count-value">{{emp_salary_tol}}</span> . 
                                
                            </p>
                        </div>
                        <div>
                            <form class="search-form" action="#" method="post">
                                {% csrf_token %}
                            
                                <div class="searchBox">
                                    
                                    <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                    <button type="button" class="close-btn" id="closeBtn">
                                         <i class="mdi mdi-close"></i>
                                    </button>
                                    
                                </div>
                            
                                <div class="w-box" >
                                    <select name="search_select" class="search-select">
                                    
                                        <option value="0"> All states </option>
                                        {% for state in states %}
                                        <option value="{{state.id}}">{{state.state_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="w-box">
                                    <input type="date" class="search-date" name="start_date">
                                </div>
                                <div class="w-box">
                                    <input type="date" class="search-date" name="end_date">
                                </div>
                               
                                <div>
                                    <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                        
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 grid-margin stretch-card">
                            <a href="{% url 'admin_emp_salary_paid_list' %}">
                                <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Salary Paid <span>( {{emp_sal_count}})</span></h4>
                                    <div class="media">
                                    <i class="mdi mdi-checkbox-marked-circle-outline icon-md text-info d-flex align-self-center me-3"></i>
                                    <div class="media-body">
                                        <p class="card-text">Total amount of salary payments in {% now "F" %} - {{ salary_tol | default:"0" }}</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 grid-margin stretch-card">
                            <a href="{% url 'admin_emp_salary_unpaid_list' %}">
                                <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Salary Pending <span>( {{emp_unpaid}})</span></h4>
                                    <div class="media">
                                    <i class="mdi mdi-close-circle-outline icon-md text-info d-flex align-self-end me-3"></i>
                                    <div class="media-body">
                                        <p class="card-text">Total amount of pending salary  in {% now "F" %} - {{ emp_unpaid_amt | default:"0" }} </p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 grid-margin stretch-card">
                            <a href="{% url 'admin_emp_deactive_salary_account_list' %}">
                                <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Salary Ac / Deactive <span>( {{emp_sal_acc_deative}})</span></h4>
                                    <div class="media">
                                    <i class="mdi mdi-account-off icon-md text-info d-flex align-self-end me-3"></i>
                                    <div class="media-body">
                                        <p class="card-text">List of all deactive salary accounts </p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive  mt-1">
                        <table class="table select-table" id="emp-salary">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Date of Joing</th>
                                    <th>Full Name</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                   
                                    <th>State</th>
                                    <th>Confirmed Salary</th>
                                    <th>Salary Month</th>
                                    <th>Paid Date</th>
                                    <th>Paid Amount</th>
                                    <th> Srtatus</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in salary %}
                                   
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{i.empreg_id.empdofj}}</td>
                                            
                                            <td><a href="{% url 'admin_employee_salary_details' i.empreg_id.id %}" style="font-size: 0.91em;">{{i.empreg_id.empfullName}}</a></td>
                                            <td>{{i.empreg_id.empdesignation}}</td>
                                            <td>{{i.empreg_id.empdept_id.department}}</td>
                                            
                                            <td>{{i.empreg_id.empstate}}</td>
                                            <td>{{i.empreg_id.empconfirmsalary}}</td>
                                            <td>{{i.empsalary_month}}</td>
                                            <td>{{i.empslaray_date}}</td>
                                            <td>{{i.emppaid_amt}}</td>
                                            <td>
                                                {%if i.emp_paidstatus == 1 %}
                                                <span style="color: #286f05;">Paid</span>
                                                {% else %}
                                                <span style="color: #ff2c25;">Not Paid</span>
                                                {% endif %}
    
                                            </td>
                                             
                                        </tr>
                                    
                                {% endfor %}
                              
                            </tbody>
                           
                           
                        
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const salaryTable = document.getElementById('emp-salary');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = salaryTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
           
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            
            

            if (Cell2 || Cell3  || Cell4 ) {
               
                const Celldata2 = Cell2.textContent || Cell2.innerText;
                const Celldata3 = Cell3.textContent || Cell3.innerText;
                const Celldata4 = Cell4.textContent || Cell4.innerText;
               

                if (Celldata2.toLowerCase().includes(filterValue) || Celldata3.toLowerCase().includes(filterValue) || Celldata4.toLowerCase().includes(filterValue)  ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

    // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>


{% endblock %}
