{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}


<!--- State Add & Asssign to Accountant  -->
<div class="content-wrapper">

    <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#register-state" role="tab" aria-controls="register-state" aria-selected="true">Reg. State & Alocate </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#Alocate" role="tab" aria-selected="false">Re-alocate To</a>
                </li>
               
              </ul>
              {% if success_msg %}
                <div class="messageBox-container" id="message-container">
                
                        <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                        <p class="text-center success-text">{{success_msg}}</p>
                </div>
              {% elif error_msg %}
                <div class="messageBox-container" id="message-container">
                        <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                        <p class="text-center error-text">{{error_msg}}</p>
                </div>
              {% endif %}
              <div>
               
                <div class="btn-wrapper">
                   
                  <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                  <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                  <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                </div>
              </div>
            </div>
            <div class="tab-content tab-content-basic">
              <div class="tab-pane fade show active" id="register-state" role="tabpanel" aria-labelledby="register-state"> 
            
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <form action="{% url 'admin_state_register' %}" class="forms-sample" method="post">
                                        {% csrf_token %}
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="card-title card-title-dash">Register State</h4>
                                            <div class="add-items d-flex mb-0">
                                              <button type="submit" class="add btn btn-icons btn-rounded btn-primary btn text-white me-0 pl-12p"><i class="mdi mdi-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="stateName">State</label>
                                            <select  class="form-control" id="stateName" name="stateName" required>
                                                <option value="">Choose State</option>
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>
                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Manipur">Manipur</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Mizoram">Mizoram</option>
                                                <option value="Nagaland">Nagaland</option>
                                                <option value="Odisha">Odisha</option>
                                                <option value="Punjab">Punjab</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Telangana">Telangana</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Uttarakhand">Uttarakhand</option>
                                                <option value="West Bengal">West Bengal</option>
                                            </select>
                                        </div>
                                          
                                    </form>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
               
                    
                        <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash">State List</h4>
                                <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{reg_states_count}}</span> state registered</p>
                                </div>
                                
                                </div>
                                <div class="table-responsive  mt-1">
                                <table class="table select-table">
                                    <thead>
                                    <tr>
                                        <th>State Id</th>
                                        <th>State</th>
                                        <th>Status</th>
                                        <th>Assigned </th>
                                        <th>Allocate To</th>
                                        <th>Allocate </th>
                                       
                                    </tr>
                                    </thead>
                                    <tbody>

                                        {% for state in reg_states %}
                                        <tr>
                                            <form action="{% url 'admin_state_allocation' %}" method="post">
                                                {% csrf_token %}

                                                <td><h6>{{state.state_id}}</h6>
                                                    <input type="text" name="state_rowid" value="{{state.id}}" hidden>
                                                </td>
                                                <td>
                                                    <h6>{{state.state_name}}</h6>
                                                    <p>India</p>
                                                   
                                                </td>
                                                <td>
                                                    {% if state.state_status == '0' %}
                                                    <div class="badge badge-opacity-danger">Pending</div>

                                                    {% else %}

                                                        <div class="badge badge-opacity-success">Active</div>

                                                    {% endif %}
                                                
                                                </td>
                                                <td>                                          
                                                <div class="d-flex ">
                                                    {% if state.allocate_dash %}
                                                        {% if state.allocate_dash.dsh_image %}
                                                            <img src="{{state.allocate_dash.dsh_image.url}}" alt="Profile Image">
                                                        
                                                        {% else %}
                                                        <img src="{% static 'aimages/faces/face1.jpg' %}" alt="Profile">

                                                        {% endif%}
                                                        <div>
                                                        <h6>{{state.allocateid.empfullName}}&nbsp;
                                                             <span class="text-primary" id="toggleButton{{state.id}}"><i class="mdi mdi-eye-off-outline mdi-18px" id="icon{{state.id}}" ></i></span></h6>
                                                        <p>{{state.allocateid.empdesignation}}</p>

                                                        <div id="myDiv{{state.id}}" style="display: none;" >
                                                            <p> User Name: {{state.allocate_dash.dsh_username}}</p>
                                                            <p> Password: {{state.allocate_dash.dsh_password}}</p>
                                                        </div>
                                                        
                                                        </div>
                                                    {% else %}
                                                        <p>Not Allocated</p>
                                                    {% endif %}
                                                </div>
                                                </td>
                                                
                                                <td>
                                                    <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                                        
                                                        <select  class="search-select"  name="empName" required>
                                                            <option value="">Choose Employee</option>
                                                            {% for emp in reg_emps %}
                                                            <option value="{{emp.id}}">{{emp.empfullName}}</option>
                                                            {% endfor %}
                                                            
                                                        </select>
                                                            
                                                    </div> 
                                                </td>

                                                <td>
                                                    {% if state.allocate_status == '0' %}

                                                    <div class="btn-wrapper">
                                                        <button type="submit" class="btn btn-primary text-white me-0"><i class="icon-check"></i>Assign</a>
                                                    </div>

                                                    {% else %}

                                                        <div class="badge badge-opacity-success"> Allocated</div>

                                                    {% endif %}
                                                
                                                </td>
                                            </form>
                                        </tr>
                                        {% endfor %}
                                   
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

              </div>

              <div class="tab-pane fade" id="Alocate" role="tabpanel" aria-labelledby="Alocate"> 
                
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                                <h4 class="card-title card-title-dash">State Allocated List</h4>
                            <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{reg_states_count}}</span> state registered</p>
                            </div>
                            
                            </div>
                            <div class="table-responsive  mt-1">
                            <table class="table select-table">
                                <thead>
                                <tr>
                                    <th>State</th>
                                    <th>State Status</th>
                                    <th>Assigned To </th>
                                    <th>Re-Allocate To</th>
                                    <th>Re-Allocate </th>
                                   
                                </tr>
                                </thead>
                                <tbody>

                                    {% for state in reg_states %}
                                    <tr>
                                        <form action="{% url 'admin_state_reallocation' %}" method="post">
                                            {% csrf_token %}

                                            
                                            <td>
                                                <h6>{{state.state_name}}</h6>
                                                <p>India</p>
                                                <input type="text" name="restate_rowid" value="{{state.id}}" hidden>
                                               
                                            </td>
                                            <td>
                                                {% if state.state_status == '0' %}
                                                <div class="badge badge-opacity-danger">Pending</div>

                                                {% else %}

                                                    <div class="badge badge-opacity-success">Active</div>

                                                {% endif %}
                                            
                                            </td>
                                            <td>                                          
                                            <div class="d-flex ">
                                                <img src="images/faces/face1.jpg" alt="">
                                                <div>
                                                <h6>{{state.allocateid.empfullName}}</h6>
                                                <p>{{state.allocateid.empdesignation}}</p>
                                                </div>
                                            </div>
                                            </td>
                                            
                                            <td>
                                                <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                                    
                                                    <select  class="search-select" id="stateName" name="re-allocateName">
                                                        <option value="">Choose Employee</option>
                                                        {% for emp in reg_emps %}
                                                        <option value="{{emp.id}}">{{emp.empfullName}}</option>
                                                        {% endfor %}
                                                        
                                                    </select>
                                                        
                                                </div> 
                                            </td>

                                            <td>
                                                {% if state.allocate_status == '1' %}

                                                <div class="btn-wrapper">
                                                    <button type="submit" class="btn btn-primary text-white me-0"><i class="icon-check"></i>Re-Allocate</a>
                                                </div>

                                                {% else %}

                                                    <div class="badge badge-opacity-danger">Not Allocated</div>

                                                {% endif %}
                                            
                                            </td>
                                        </form>
                                    </tr>
                                    {% endfor %}
                               
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% for state in reg_states %}
<script>
$(document).ready(function() {
    $("#toggleButton{{state.id}}").click(function() {
        $("#myDiv{{state.id}}").toggle();
        $("#icon{{state.id}}").toggleClass("mdi-eye-off-outline mdi-eye-outline");
    });
});
</script>
{% endfor %}

{% endblock %}