{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

<!--- OJT Registration View Section -->
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 d-flex flex-column">
        
        <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                    <h4 class="card-title card-title-dash">Salary Payment Pending on
                        {% if month_display %}
                            <span class="small">({{ month_display }})</span>
                        {% else %}
                        <span class="small">({% now "F" %})</span>
                        {% endif %} 
                        </h4>
                    <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{emp_unpaid_count}}</span>  Payments Pending - ( {{emp_unp_amt|default_if_none:"0"}} )</p>
                    </div>
                   
                </div>
                <div>
                    <form class="search-form" action="{% url 'admin_emp_salary_unpaid_list' %}" method="post">
                        {% csrf_token %}
                       
                       
                        <div class="w-box" >
                            <select name="search_select" class="search-select">
                               
                                <option value="0"> All states </option>
                                {% for state in states %}
                                <option value="{{state.id}}">{{state.state_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="w-box">
                            <input type="date" class="search-date" name="start_date">
                        </div>
                        <div class="w-box">
                            <input type="date" class="search-date" name="end_date">
                        </div>
                        <div class="w-box" >
                            <select  class="search-select" name="salary_paid_month">
                               
                                <option value="0"> select unpaid month </option>
                                {% for value, label in months  %}
                                <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="w-box" >
                            <select  class="search-select" name="salary_paid_year">
                               
                                <option value="{{current_year}}" selected>{{current_year}}</option>
                                {% for value, label in years  %}
                                <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
                
                <div class="table-responsive  mt-1">
                    <table class="table select-table" id="OJT-register">
                    <thead>
                        <tr>
                            
                            <th>Date Of Join</th>
                            <th>Full Name</th>
                            <th>Department</th>
                            <th>state</th>
                            <th>Confirm Salary</th>
                            <th>acc.Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in emp_unpaid %}
                        <tr>
                            <td>{{emp.empdofj}}</td>
                            <td>
                                <div class="d-flex ">
                                    <div>
                                        <a href="{% url 'admin_emp_salary_pay_details' emp.id  %}"><h6>{{emp.empfullName}}</h6>
                                        <p><span>{{emp.empdesignation}}</span>
                                            
                                        </p>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td><h6>{{emp.empdept_id.department}}</h6></td>
    
                            <td><h6>{{emp.empstate}}</h6> </td>
                            <td><h6>{{emp.empconfirmsalary}}</h6></td>
                            
                            <td>
                                {% if emp.emp_salary_status == 1 %}
                                <div class="badge badge-opacity-success">Active</div>
                                {% else %}
                                <div class="badge badge-opacity-danger">Deactive</div>
                                {% endif %}
                            </td>
                           
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        
        </div>
    
    </div>
       


</div>


{% endblock %}