{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}


    <!--=========================== Admin States List section  ========================-->

    <div class="content-wrapper">
        <div class="row">
            {% for state in states %}
            <div class="col-md-4 grid-margin stretch-card">
              <a href="#">
                  <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">{{state.state_name}} - Analysis</h4>
                      <div class="media">
                      <i class="mdi mdi-google-analytics icon-md text-info d-flex align-self-start me-3"></i>
                      <div class="media-body">
                          <p class="card-text">To analyze the On-the-Job Training, Employees, Income, and Expense data of {{state.state_name}}. </p>
                      </div>
                      </div>
                  </div>
                  </div>
              </a>
            </div>
            {% endfor %}
        </div>
               
    </div>

{% endblock %}