{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}



<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 

                        <div class="row">
                            <div class="col-md-4 grid-margin stretch-card">
                             
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title text-success">Income - <i class="mdi mdi-currency-inr icon-sm"></i> {{inco}} -
                                            {% if balans > 0 %}
                                               <span class="text-normal">{% now "F" %}</span><span class="text-success text-sm"> ( Profit )</span>
                                            {% elif balans < 0%}
                                            <span class="text-normal"> {% now "F" %}</span><span class="text-danger text-sm"> ( Loss )</span>
                                            {% else %}
                                            <span class="text-normal"> {% now "F" %}</span><span class="text-primary text-sm"> ( Equal )</span>
                                            {% endif %}
                                         </h4>
                                        <div class="media">
                                        <i class="mdi mdi-plus icon-md text-info d-flex align-self-start me-3"></i>
                                        <div class="media-body">
                                            <p class="card-text">Providing total income of all state ,it include OJT and other incomes.</p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col-md-4 grid-margin stretch-card">
                            
                                <div class="card">
                                  <div class="card-body">
                                      <h4 class="card-title text-danger">Expence - <i class="mdi mdi-currency-inr icon-sm"></i> {{expe}} </h4>
                                      <div class="media">
                                      <i class="mdi mdi-minus icon-md text-info d-flex align-self-center me-3"></i>
                                      <div class="media-body">
                                          <p class="card-text">Providing total expence of all state ,it include salary and other expence.</p>
                                      </div>
                                      </div>
                                  </div>
                                </div>
                              
                            </div>
                            <div class="col-md-4 grid-margin stretch-card">
                             
                                <div class="card">
                                    <div class="card-body">
                                      <h4 class="card-title">Balance - <i class="mdi mdi-currency-inr icon-sm"></i> {{balans}}</h4>
                                      <div class="media">
                                      <i class="mdi mdi-contrast icon-md text-info d-flex align-self-end me-3"></i>
                                      <div class="media-body">
                                          <p class="card-text">Providing total balance of all state.</p>
                                      </div>
                                      </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <style>
        .search-form
        {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1rem;
           
        }
        .search-select, .search-date
        {
        padding: 8px 10px;
        border: 1px solid #DFDFDF;
        border-radius: 6px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        font-family: "Manrope", sans-serif;
        min-width: 120px;
        height: 34px;
        background: #ffffff;
        }
        .search-button
        {
            padding: 8px 10px;
            border: 1px solid #DFDFDF;
            border-radius: 6px;
            line-height: 16px;
            height: 34px;
            background: #ffffff;
        }
        .search-button:hover{
            background: #0f0f0f;
            color: #ffffff;
        }
    </style>


    <div class="row flex-grow">
       
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title card-title-dash mb-2">{% now "F" %} - Income Expence Entries </h4>
                      <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{exp_income_count}}</span> entries on this month </p>
                    </div>

                    <div>
                        <form class="search-form" action="#" method="post">
                            {% csrf_token %}
                            <div class="searchBox">
                        
                                <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                <button type="button" class="close-btn" id="closeBtn">
                                     <i class="mdi mdi-close"></i>
                                </button>
                                
                            </div>
                            <div class="w-box" >
                                <select name="search_select" class="search-select">
                                   
                                    <option value="0" > All states </option>
                                    {% for state in states %}
                                    <option value="{{state.id}}">{{state.state_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="">
                                <input type="date" class="search-date" name="start_date">
                            </div>
                            <div class=" ">
                                <input type="date" class="search-date" name="end_date">
                            </div>
                            <div>
                                <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    
                  </div>
                  <div class="table-responsive  mt-1">
                    <table class="table select-table" id="income-expence">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Head Name</th>
                            <th>Income</th>
                            <th>Expence</th>
                            <th>Note</th>
                            <th>State</th>
                           
                        </tr>
                        </thead>
                        <tbody>
                            
                        {% for i in exp_income %}
                        
                        <tr>
                       
                            <td>{{i.exin_date}}</td>
                            <td>{{i.exin_head_name}}</td>
                            {% if i.exin_typ == 1 %}
                            <td class="income">{{i.exin_amount}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% if i.exin_typ == 2 %}
                            <td class="exp">{{i.exin_amount}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{i.exin_dese}}</td>
                            <td>{{i.exin_state.state_name}}</td>
                            
                        </tr>
                       
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>

<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const ojtTable = document.getElementById('income-expence');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = ojtTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
           
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            
            

            if (Cell1 || Cell2 ) {
               
                const Celldata1 = Cell1.textContent || Cell1.innerText;
               

                if (Celldata1.toLowerCase().includes(filterValue) ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

    // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>

{% endblock %}