{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}


    <!--=========================== Admin Dashboard  ========================-->

    <div class="content-wrapper">
       <!-- ============= Login Success Message =======================-->
            
       <div class="d-flex align-items-center justify-content-end ">
        {% if success_msg %}
          <div class="messageBox-container" id="message-container">
          
                  <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                  <p class="text-center success-text">{{success_msg}}</p>
          </div>
        {% elif error_msg %}
          <div class="messageBox-container" id="message-container">
                  <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                  <p class="text-center error-text">{{error_msg}}</p>
          </div>
        {% endif %}
      </div>
       

      <!---=================================================================-->

      <!-- ======================= Main Section =============================-->

   
      
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">

            <div class="tab-content tab-content-basic">
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                <div class="row">
                  <div class="col-md-4 grid-margin stretch-card">
                    <a href="{% url 'admin_ojt_registration_all_states' %}">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">OJT- Registrations - ({{otj_reg}})</h4>
                            <div class="media">
                            <i class="mdi mdi-account-check icon-md text-info d-flex align-self-start me-3"></i>
                            <div class="media-body">
                                <p class="card-text">Total number of OJT trainees in all states.</p>
                            </div>
                            </div>
                        </div>
                        </div>
                    </a>
                  </div>
                  <div class="col-md-4 grid-margin stretch-card">
                    <a href="{% url 'admin_employee_analyis_registration_all_states' %}">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Employees Registrations - ({{emp_reg}})</h4>
                            <div class="media">
                            <i class="mdi mdi-account-multiple icon-md text-info d-flex align-self-center me-3"></i>
                            <div class="media-body">
                                <p class="card-text">Total number of employees in all states.</p>
                            </div>
                            </div>
                        </div>
                        </div>
                    </a>
                  </div>
                  <div class="col-md-4 grid-margin stretch-card">
                    <a href="{% url 'admin_state_form' %}">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">State Accounts - ({{state_reg}})</h4>
                            <div class="media">
                            <i class="mdi mdi-account-convert icon-md text-info d-flex align-self-end me-3"></i>
                            <div class="media-body">
                                <p class="card-text">Total number of account dashboard created.</p>
                            </div>
                            </div>
                        </div>
                        </div>
                    </a>
                  </div>
                </div>
             
                <div class="row">
                  <div class="col-lg-12 d-flex flex-column">
                  
                    <div class="row flex-grow">
                      <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                              <div>
                                <h4 class="card-title card-title-dash">Payment Approvel Requests</h4>
                               <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{approve_count}}</span> new requests</p>
                              </div>
                              {% if new_reg %}
                              <div>
                                <a href="{% url 'newpay_confirm_list' %}"><button type="button" class="btn btn-primary btn-lg text-white mb-0 me-0 blink" type="button"><i class="mdi mdi-account-plus "></i>OJT- New Registrations( {{new_reg}} )</button></a>
                              </div>
                              {% endif %}
                              
                            </div>
                            <div class="table-responsive  mt-1">
                              <table class="table select-table">
                                <thead>
                                  <tr>
                                    <th>No</th>
                                    <th>Full Name</th>
                                    <!-- <th>Refrenc</th> -->
                                    <th>State</th>
                                    <th>Date</th>
                                    <th>Payed Amount</th>
                                    <!-- <th>Total Payed</th> -->
                                    <th>Balance</th>
                                    <th>Status</th>
                                    <th>Confirm</th>
                                   
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for app in payhis_list %}
                                  <tr>
                                   <td>{{forloop.cunter}}</td>
                                    
                                    <td>
                                      <div class="d-flex ">
                                        {{app.reg_id.fullName}}
                                      </div>
                                    </td>
                                    <!-- <td>{{app.reg_id.refrence}}</td> -->
                                    <td>{{app.pay_state.state_name}}</td>
                                    <td>{{app.paydofj}} </td>
                                    <td>{{app.payintial_amt}}</td>
                                    <!-- <td>{{app.paytotal_amt}}</td> -->
                                    <td>{{app.paybalance_amt}}</td>
                                    
                                    <td><div class="badge badge-opacity-warning">wating for approve</div></td>
                                     <td>
                                      
                                      <div class="btn-wrapper">
                                        <a href="{% url 'admin_confirm' app.id %}" class="btn btn-primary text-white me-0"><i class="icon-check"></i>Aprove</a>
                                      </div>
                                    
                                  </td>
                                    
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---=================================================================-->
    </div>

    <!-- content-wrapper ends -->
   


{% endblock %}