{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

<style>
    h5{
        font-weight: 600;
        color: rgb(10, 18, 76);
        margin-bottom: 0.80em;
    }
    .card{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
        padding: 0.90em;
        border: none;
    }
    .card span
    {
        font-size: 0.80em;
        font-weight: 600;
        color: rgb(18, 11, 72);
    }
    .card .count_no
    {
        font-size: 1.3em;
        font-weight: 700;
    }
    form
    {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
        padding:1em 0.90em;
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 0.80em;
    }
    .input-date-box label
    {
        font-size: 0.85em;
        margin-bottom: 0.050em;
        font-weight: 800;
    }
    .input-date-box input
    {
        font-size: 0.85em;
        padding:  0.050em;
        padding-left:  0.80em;
        font-weight: 500;
    }
    .submit-box
    {
        padding-top: 1em;
    }
    .inex-profit
    {
        color: rgb(46, 151, 7);
    }
    .submit-box button
    {
        border: none;
        background: #11083efe;
        color: #fff;
        cursor: pointer;
        padding: 0.10em;
    }
    .submit-box button i{
        font-size: 16px;
        padding: 0.30em;
    }
    .inex-loss
    {
        color: rgb(230, 21, 21);
    }
    .inex-equl
    {
        color: rgb(234, 227, 20);
    }
    #income-exp-box
    {
        display:grid ;
        grid-template-columns: 0.85fr 1fr 0.90fr;
        padding: 1em;
        gap: 0.80em;
    }
    .income_expence_box
    {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 0.80em;
    }
    .income_expence_box .chart-box
    {
        margin-bottom: 0.60em;
    }
    .income_expence_box .details-box
    {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      gap:0.30em
    }
    .details-box .card
    {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
        padding: 0.90em;
        border: none;
    }
    .details-box .card h6{
        font-size: 0.95em;
        font-weight: 700;
        line-height: 1.7em;
    }
    .value
    {
        font-size: 0.95em;
        font-weight: 700;
        color: rgb(8, 8, 51);
    }
    .loader h5{
        font-size: 0.95em;
        font-weight: 700;
        
    }
    .internship
    {
       display: flex;
        align-items:center;
      
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 1.1em;
    }
    .internship h6{
     margin-top: 2em;
     font-weight: 600;
     margin-bottom: 1em;
    }
    .employee_reg h6{
        margin-top: 2em;
        font-weight: 600;
        margin-bottom: 1em;
       }
    .counts
    {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: row;
        gap: 0.40em;
    }
    .pre_counts
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        gap: 0.40em;
    }
    .counts .card, .pre_counts .card
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .counts .card p, .pre_counts .card p
    {
      font-size: 0.80em;
      letter-spacing: 0.03em;
      margin-top: 0.40em;
      margin-bottom: -0.02em;
      font-weight: 600;
    }
    .employee_reg
    {
        display: flex;
        align-items:center;
      
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 0.80em;
    }
    #perdition .card p{
        font-size: 0.80em;
    }

    @media(max-width:832px)
    {
        #income-exp-box
        {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>



<main>

    <div class="container" id="income-exp-box">

        <div class="income_expence_box">
            <div class="card">
                <span>{{content.cur_date}}</span>
            </div>

            <div class="chart-box">
    
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                
            </div>

            <div class="details-box">
                <div class="card">
                    <h6>{% now "F" %} Income <span><i class="bi bi-calendar3"></i></span></h6>
         
                     <div class="loader">
                         <span><i class="bi bi-currency-rupee rupe"></i>
                       
                             <span class="value " akhi="{{content.income}}">0</span>
                            
                         </span>
                     </div>
                 </div>
                 <div class="card">
                     <h6>{% now "F" %} Expence <span><i class="bi bi-calendar3"></i></span></h6>
                     <div class="loader">
                         <span><i class="bi bi-currency-rupee rupe"></i>
                           
                             <span class="value " akhi="{{content.expence}}">0</span>
                            
                            
                         </span>
                     </div>
                 </div>
                 <div class="card">
                     <h6>{% now "F" %} Balance <span><i class="bi bi-calendar3"></i></span></h6>
                     <div class="loader">
                         
                       
                         {% if content.income > content.expence %}
                         <span><i class="bi bi-currency-rupee rupe"></i><span class="value inex-profit" akhi="{{content.balans}}">0</span></span>
                         
                         <h5 class="inex-profit"> Profit</h5>
                         {% elif  content.income < content.expence %}
                         <span><i class="bi bi-currency-rupee rupe"></i><span class="value inex-loss" akhi="{{content.balans}}">0</span></span>
                         
                         <h5 class="inex-loss"> Loss</h5>
                         {% else %}
                         <span><i class="bi bi-currency-rupee rupe"></i><span class="value inex-equl" akhi="{{content.balans}}">0</span></span>
                         <h5 class="inex-equl "> No Profit No Loss</h5>
                         {% endif %}
                    
                     </div>
                 </div>

            </div>
            <hr>
            <div class="search">
                <h5>Search Section</h5>

                <form action="#" method="post">
                    {% csrf_token %}
                    
                    <div class="input-date-box">
                        <label>From Date :</label>
                        <input type="date" name="adempfr_data" required>
                    </div>
                    <div class="input-date-box">
                        <label>To Date :</label>
                        <input type="date" name="adempto_date" required>
                    </div>
                    <div class="submit-box">
                        <button type="submit"><i class="bi bi-search"></i></button>
                    </div>
                   
                </form>


            </div>
           
        </div>

        <div class="internship">

            <h5>Onthe Job Training</h5>

            <div class="counts">
                <div class="card">
                    <i class="bi bi-people"></i>
                    <p>Registration</p>
                    <span class="count_no">0</span>
                    
                </div>
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Total Cash</p>
                    <span>400000 /-</span>
                </div>
                
            </div>

            <h6>Payments</h6>
            <div class="counts">
                <div class="card">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    <p>Pending</p>
                    <span class="count_no">0</span>
                    <span>45000 /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>Completed</p>
                    <span class="count_no">0</span>
                    <span>80000 /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-x-circle-fill"></i>
                    <p>Incomplete</p>
                    <span class="count_no">0</span>
                    <span>10000 /-</span>
                </div>
            </div>
            
            <h6>Perdition</h6>

            <div class="pre_counts" id="perdition">
                <div class="card">
                    <i class="bi bi-calendar-week"></i>
                    <p>1 To 7</p>
                    <span class="count_no">0</span>
                    <span>10000 /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-calendar-week"></i>
                    <p> 8 To 15</p>
                    <span class="count_no">0</span>
                    <span>10000 /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-calendar-week"></i>
                    <p> 15 To End</p>
                    <span class="count_no">0</span>
                    <span>10000 /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-calendar3"></i>
                    <p>Next Month</p>
                    <span class="count_no">0</span>
                    <span>80000 /-</span>
                </div>
            </div>

        </div>
        
        <div class="employee_reg">

            <h5>Employees</h5>

            <div class="counts">
                <div class="card">
                    <i class="bi bi-people"></i>
                    <p>Registration</p>
                </div>
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Total Cash</p>
                </div>
                
            </div>

            <h6>Payments</h6>
            <div class="counts">
               
                <div class="card">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>Salary Paid</p>
                    <span class="count_no">0</span>
                    <span>10000 /-</span>
                </div>
                <div class="card">
                    <i class="bi bi-x-circle-fill"></i>
                    <p>Salary Unpaid</p>
                    <span class="count_no">0</span>
                    <span>10000 /-</span>
                </div>
            </div>

        </div>
        
        
    </div>




    
<script>
    const counters = document.querySelectorAll('.value');
    const speed = 400;
    
    counters.forEach( counter => {
       const animate = () => {
          const value = +counter.getAttribute('akhi');
          const data = +counter.innerText;
         
          const time = value / speed;
         if(data < value) {
              counter.innerText = Math.ceil(data + time);
              setTimeout(animate, 1);
            }else{
              counter.innerText = value;
            }
         
       }
       
       animate();
    });
</script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script>
        var xValues = ["Income", "Expence", "Profit/Loss"];
        var yValues = [{{content.inc_pr}}, {{content.exp_pr}}, {{content.bal_pr}}];
        var barColors = [
          "#51e109",
          "#eb1d1d",
          "#ffdf28",
          
        ];
        
        new Chart("myChart", {
          type: "doughnut",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            title: {
              display: true,
              text: "Company Income Expence "
            }
          }
        });
        </script>
</main>

{% endblock %}