{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}


<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 d-flex flex-column">
        
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title card-title-dash">Employee - Payment List</h4>
                     <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{salary_count}}</span> Payments <span class="count-value">{{salary_sum}}</span> </p>
                    </div>

                    <div>
                        <form class="search-form" action="#" method="post">
                            {% csrf_token %}
                           
                            <div class="searchBox">
                                
                                <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                <button type="button" class="close-btn" id="closeBtn">
                                     <i class="mdi mdi-close"></i>
                                </button>
                                
                            </div>
                           
                            
                            <div class="w-box">
                                <input type="date" class="search-date" name="start_date" >
                            </div>
                            <div class="w-box">
                                <input type="date" class="search-date" name="end_date" >
                            </div>
                            <div>
                                <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    
                    
                  </div>
                  <div class="table-responsive  mt-1">
                    <table class="table select-table" id="Emp-register">
                      <thead>
                        <tr>
                            <th>no</th>
                         
                            <th>Date of Joing</th>
                            <th>Full Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Confirmed Salary</th>
                            <th>Salary Month</th>
                            <th>Paid Date</th>
                            <th>Paid Amount</th>
                            <th> Srtatus</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for i in salary %}
                                   
                        <tr>
                            <td>{{ forloop.counter }}</td>
                          
                            <td>{{i.empreg_id.empdofj}}</td>
                            <td><a href="{% url 'employee_salary_details' i.empreg_id.id %}" style="font-size: 0.93em;">{{i.empreg_id.empfullName}}</a></td>
                            <td>{{i.empreg_id.empdept_id.department}}</td>
                            <td>{{i.empreg_id.empdesignation}}</td>
                            <td class="text-center">{{i.empreg_id.empconfirmsalary}}</td>
                            <td>{{i.empsalary_month}}</td>
                            <td>{{i.empslaray_date}}</td>
                            <td>{{i.emppaid_amt}}</td>
                            <td>
                                {%if i.emp_paidstatus == 1 %}
                                <span style="color: #286f05;">Paid</span>
                                {% else %}
                                <span style="color: #ff2c25;">Not Paid</span>
                                {% endif %}

                            </td>
                             
                        </tr>
                    
                {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
       
    </div>


 </div>

 

 <script>

    // Table data Search Script
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('Emp-register');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const Cell2 = rows[i].getElementsByTagName('td')[2];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            const Cell5 = rows[i].getElementsByTagName('td')[5];
            const Cell6 = rows[i].getElementsByTagName('td')[6];
         

            if (Cell2 || Cell3 || Cell4 || Cell5  || Cell6 ) {

                const datacell2 = Cell2.textContent || Cell2.innerText;
                const datacell3 = Cell3.textContent || Cell3.innerText;
                const datacell4 = Cell4.textContent || Cell4.innerText;
                const datacell5 = Cell5.textContent || Cell5.innerText;
                const datacell6 = Cell6.textContent || Cell6.innerText;
                
                

                if (datacell2.toLowerCase().includes(filterValue) || datacell3.toLowerCase().includes(filterValue) || datacell4.toLowerCase().includes(filterValue) || datacell5.toLowerCase().includes(filterValue) 
                ||datacell6.toLowerCase().includes(filterValue)  ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>




{% endblock %}

