{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}



<style>

/*Register Box Register-details  Style */

    #register-box .contaier-fluid
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 1em;
        gap: 1em;
        background-color:#fafafa;
       
       
    }
    .register-details
    {
        height: 40vh;
        background: #ffff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       
    }

    .register-details h4, .register-details-table h4{
      
        margin-top: 1.1em;
        font-size: 1.35em;
        margin-left: 0.40em;
        font-weight: 500;
        letter-spacing: 0.04em;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(38, 17, 63);
       
        
    }
    .register-details .line,  .register-details-table .line
    {
        width: 60px;
        height: 3px;
        border-bottom: 3px solid #000;
        margin-left: 0.60em;

    }

    /* success Alert box */

    .register-details .message-bx
    {
        background: #6fc146;
        color: #fafafa;
        font-size: 0.98em;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 0.50em ;
        height: 5vh;
        margin-top: 1.2em; 
    }
    .register-details .message-bx-delete
    {
        background: #d74141;
        color: #fafafa;
        font-size: 0.98em;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 0.50em ;
        height: 5vh;
        margin-top: 1.2em; 
    }
    .register-details form{
        padding:0.50em 1em;
        background: #fafafa;
    }
    .register-details form .input-group-box
    {
        margin-top: 1.5em;
    }
    .input-group-box label
    {
        width: 35%;
        font-size: 0.90em;
        font-weight: 600;
        padding: 0.40em;
    }
    .input-group-box input, select{
      width: 55%;
      padding: 0.20em;
      border: 1px solid #828181;
      font-size: 0.90em;
     
    }
    .input-group-box input:focus, select:focus
    {
        border:0.01rem solid #111158;
        outline: none;
        border-radius: 3px;
    }
    .input-group-box select option{
        font-size: 0.90em;
        padding: 1em 0em;
    }
    .submit_button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        background: #fafafa;
        margin-top: 1em;
    }
    .submit_button button
    {
        padding: 0.40em 1.4em;
        font-weight: 600;
        background: #261b52;
        color: #ffff;
        margin:none ;
        border: none;
        letter-spacing: 0.04em;
    }
    #department a
    {
        padding: 0em 0.40em;
        font-size: 1.1em;
    
    }
    #department .edit
    {
        font-size: 0.95em;
    }
    #department .edit:nth-child(1)
    {
      
        color: #1b126f; 
    }
    #department a:nth-child(1)
    {
      
        color: #ec0909;
    }
    
    /* Media Query*/
    @media(max-width:964px)
    {
        #register-box .contaier-fluid
        {
        grid-template-columns:repeat(1,1fr) ;
        }
        .register-details
        {
            height: auto;
        }
        
    }
    /*Register Box Register-details End Style */

     /*Register Box Register-details Table Style */
     .register-details-table .container
     {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 70vh;
        margin-top: 1.4em;
        padding-top:2em ;
     }
     #department
     {
        font-size: 0.90em;
     }
      /* Media Query*/
    @media(max-width:964px)
    {
    
        .register-details-table .container
        {
            height: auto;
            overflow-x: scroll;
          
           
        }
        #department
        {
          width: 100%; 
        }
        .register-details-table 
        {
            overflow-x: scroll;
        }
    }
</style>


<main>
    <section id="register-box">
        <div class="contaier-fluid">
            <div class="register-details">
                <h4>Company Holidays Add </h4>
                <div class="line"></div>
                {% if msg == 1 %}
                <div class="message-bx" id="msgbox">
                    <p><i class="bi bi-check-all"></i> Successfull!   Added  </p>
                </div>
                {% elif msg == 2 %}
                <div class="message-bx-delete" id="msgbox-delete">
                    <p><i class="bi bi-x"></i> Successfull!   Deleted  </p>
                </div>
                {% endif %}


                <form action="{% url 'company_holiday_add'  %}" method="post">
                    {% csrf_token %}
                    <div class="input-group-box">
                        <label>Month Start date: <br>{{comp_holidays_edit.ch_sdate}}</label>
                        <input type="date" name="cmphsdate"  required>
                        <input type="text" name="cmphid" value="{{comp_holidays_edit.id}}"hidden >
                    </div>
                    <div class="input-group-box">
                        <label>Month End Date: <br> {{comp_holidays_edit.ch_edate}}</label>
                        <input type="date" name="cmphedate" required>
                    </div>
                    <div class="input-group-box">
                        <label>No of HoliDays</label>
                        <input type="text" name="cmphno" value="{{comp_holidays_edit.ch_no}}" required>
                    </div>
                    
                    <div class="submit_button">
                        <button type="submit">Save</button>
                    </div>
                </form>

            </div>
            <div class="register-details-table">
                <h4>Company Holidays</h4>
                <div class="line"></div>
                <div class="container">

                    <table id="department" class="display" >
                        <thead>
                            <tr>
                                <th>Edit</th>
                                <th>Start Date </th>
                                <th>End Date</th>
                                <th>Month</th>
                                <th>Company Work Days</th>
                                <th>No of Holidays</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in comp_holidays %}
                            <tr>
                                <td><a href="{% url 'company_holidy_edit' i.id %}" class="edit"><i class="bi bi-pen-fill"></i></a></td>
                                <td>{{i.ch_sdate}}</td>
                                <td>{{i.ch_edate}}</td>
                                <td>{{i.ch_sdate|date:"F" }}</td>
                                <td>{{i.ch_workno}}</td>
                                <td>{{i.ch_no}}</td>
                            </tr>
                            {% endfor %}
                          
                        </tbody>
                       
                    </table>

                </div>
            </div>
           
        </div>
    </section>

    <!-- Meaage Box fead Out -->


</main>

{% endblock %}