{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}


 <!--=========================== ACCOUNT OJT LIST  ========================-->

 <div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 d-flex flex-column">
        
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title card-title-dash">{{emp_reg_edit.empfullName}} - Salary Payments List</h4>
                     <p class="card-subtitle card-subtitle-dash">{{emp_reg_edit.empfullName}}  has <span class="count-value">{{salary_count}}</span> payments</p>
                    </div>

                    <div>
                        <form class="search-form" action="#" method="post">
                            {% csrf_token %}
                           
                            <div class="searchBox">
                                
                                <input type="text" class="form-control small-text" id="search-data" placeholder="salary month / pay date">
                                <button type="button" class="close-btn" id="closeBtn">
                                     <i class="mdi mdi-close"></i>
                                </button>
                                
                            </div>
                           
                            
                            <div class="w-box">
                                <input type="date" class="search-date" name="start_date" >
                            </div>
                            <div class="w-box">
                                <input type="date" class="search-date" name="end_date" >
                            </div>
                            <div>
                                <button type="submit" class="search-button">  <i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    
                    
                  </div>
                  <div class="table-responsive  mt-1">
                    <table class="table select-table" id="Emp-register">
                      <thead>
                        <tr>
                            <th></th>
                            <th>Salary Month</th>
                            <th>Paid Date</th>
                            <th> Full day Leave /Amount</th>
                            <th> Half day Leave /Amount</th>
                            <th> Work Delay /Amount</th>
                            <th>Other Amount Add</th>
                            <th>Deduction</th>
                            <th>Paid Amount</th>
                            <th> Srtatus</th>         
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in salary %}
                        <tr class="text-center">
                            <td>{{ forloop.counter }}</td>
                           
                            <td>{{i.empsalary_month}}</td>
                            <td>{{i.empslaray_date}}</td>
                            <td>{{i.empfull_leave}} / {{i.empfull_leave_amt}}</td>
                            <td>{{i.emphalf_leave}} / {{i.emphalf_leave_amt}}</td>
                            <td>{{i.emp_delay}} / {{i.emp_delay_amt}}</td>
                            <td>{{i.emp_other_amt}}</td>
                            <td>{{i.emp_other_damt}}</td>
                            <td>{{i.emppaid_amt}}</td>
                            <td>
                                {%if i.emp_paidstatus == 1 %}
                                <span style="color: #286f05;">Paid</span>
                                {% else %}
                                <span style="color: #ff2c25;">Not Paid</span>
                                {% endif %}

                            </td>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
       
    </div>


 </div>

 

 <script>

    // Table data Search Script
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const empTable = document.getElementById('Emp-register');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = empTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const Cell0 = rows[i].getElementsByTagName('td')[0];
            const Cell1 = rows[i].getElementsByTagName('td')[1];
           
            if (Cell0 || Cell1 ) {

                const datacell0 = Cell0.textContent || Cell0.innerText;
                const datacell1 = Cell1.textContent || Cell1.innerText;
              

                if (datacell0.toLowerCase().includes(filterValue) || datacell1.toLowerCase().includes(filterValue)  ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>

 
{% endblock %}


   