{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}



<style>

/*Register Box Register-details  Style */

    #register-box .contaier-fluid
    {
        display: grid;
        grid-template-columns: 0.90fr 2.2fr;
        padding: 1em;
        gap: 1em;
        background-color:#fafafa;
       
       
    }
    .register-details
    {
        height: 80vh;
        background: #ffff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       
    }

    .register-details h4, .register-details-table h4{
      
        margin-top: 1.1em;
        font-size: 1.35em;
        margin-left: 0.40em;
        font-weight: 500;
        letter-spacing: 0.04em;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(38, 17, 63);
       
        
    }
    .register-details .line,  .register-details-table .line
    {
        width: 60px;
        height: 3px;
        border-bottom: 3px solid #000;
        margin-left: 0.60em;

    }

    /* Alert box */

    .register-details .message-bx,  .register-details .message-bx-confirm
    {
       
        color: #fafafa;
        font-size: 0.98em;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 0.50em ;
        height: 5vh;
        margin-top: 1.2em; 
    }
    .register-details .message-bx
    {
        background: #e8e340;
    }
    .register-details .message-bx-confirm
    {
        background: #6fc146;
    }
  
    .register-details .message-bx-delete
    {
        background: #f7684c;
        color: #fafafa;
        font-size: 0.98em;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 0.50em ;
        height: 5vh;
        margin-top: 1.2em;
       
    }
    .register-details form{
        padding:0.50em 1em;
        background: #fafafa;
    }
    .register-details form .input-group-box
    {
        margin-top: 1.5em;
    }
    .input-group-box label
    {
        width: 35%;
        font-size: 0.90em;
        font-weight: 600;
        padding: 0.40em;
    }
    .input-group-box input, select{
      width: 55%;
      padding: 0.20em;
      border: 1px solid #828181;
      font-size: 0.90em;
     
    }
    .input-group-box input:focus, select:focus
    {
        border:0.01rem solid #111158;
        outline: none;
        border-radius: 3px;
    }
    .input-group-box select option{
        font-size: 0.90em;
        padding: 1em 0em;
    }
    .submit_button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        background: #fafafa;
        margin-top: 1em;
    }
    .submit_button button
    {
        padding: 0.40em 1.4em;
        font-weight: 600;
        background: #261b52;
        color: #ffff;
        margin:none ;
        border: none;
        letter-spacing: 0.04em;
    }
    #register-details a
    {
        padding: 0em 0.40em;
        font-size: 1.1em;
    
    }
    #register-details .stus span{
        font-size: 0.85em;
    }
    #register-details .edit
    {
        font-size: 0.95em;
    }
    #register-details .edit:nth-child(1)
    {
      
        color: #1b126f; 
    }
    #register-details .check
    {
      
        color: #3da309; 
    }
    #register-details .wating
    {
        color: #fff308;
    }
    #register-details .wating span
    {
        color: #d3c90d;
        font-size: 0.85em;
        font-weight: 600;
    }
    #register-details .notcheck
    {
        color: #ec0909;
    }
    #register-details .confirmbtn
    {
        font-size: 0.89em;
        font-weight: 600;
        border: none;
        padding: 0.40em 0.80em;
        background: #111158;
        color: #ffff;
    }
    /* Media Query*/
    @media(max-width:964px)
    {
        #register-box .contaier-fluid
        {
        grid-template-columns:repeat(1,1fr) ;
        }
        .register-details
        {
            height: auto;
        }
        
    }
    /*Register Box Register-details End Style */

     /*Register Box Register-details Table Style */
     .register-details-table .container
     {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 70vh;
        margin-top: 1.4em;
        padding-top:2em ;
     }
     #register-details
     {
        font-size: 0.90em;
     }
      /* Media Query*/
    @media(max-width:964px)
    {
    
        .register-details-table .container
        {
            height: auto;
            overflow-x: scroll;
          
           
        }
        #register-details
        {
          width: 100%; 
        }
        .register-details-table 
        {
            overflow-x: scroll;
        }
    }
</style>


<main>
    <section id="register-box">
        <div class="contaier-fluid">
            <div class="register-details">
                <h4>Employeee Register Form</h4>
                <div class="line"></div>
                {% if msg == 1 %}
                <div class="message-bx-confirm" id="msgbox">
                    <p><i class="bi bi-check-all"></i>Employee Registeration Completed </p>
                </div>
                
                {% endif %}

                <!-- Register Form -->

                <form action="{% url 'employee_register_Details'  %}" method="post">
                    {% csrf_token %}
                    <div class="input-group-box" >
                        <label>Full Name</label>
                        <input type="text" name="empname" required>
                    </div>
                    <div class="input-group-box">
                        <label>Date Of Joing</label>
                        <input type="date" name="empdfj" required>
                    </div>
                    <div class="input-group-box">
                        <label>Department</label>
                        <select name="empdept" required >
                            <option >-- Select Department -- </option>
                            {% for j in dept %}
                            <option value="{{j.id}}" >{{j.department}} </option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    
                    <div class="input-group-box">
                        <label>Designation </label>
                        <input type="text" name="empdesig" required>
                    </div>

                    <div class="input-group-box">
                        <label>Employeee id </label>
                        <input type="text" name="empid" required>
                    </div>
                    
                    
                    <div class="input-group-box">
                        <label>confirmed Salary</label>
                        <input type="text" name="empconf_salary" required>
                    </div>
                    <div class="input-group-box">
                        <label> Salary Amount</label>
                        <input type="text" name="empsalary_amt" >
                    </div>
                    <div class="input-group-box">
                        <label>Salary Month</label>
                        <select name="empsalary_month"  >
                            <option >-- Select Salary Month -- </option>
                           
                            <option value="Januvary {{current_year}}" >Januvary  {{current_year}}</option>
                            <option value="February {{current_year}}" >February  {{current_year}}</option>
                            <option value="March {{current_year}}" >March  {{current_year}}</option>
                            <option value="April {{current_year}}" >April  {{current_year}}</option>
                            <option value="May {{current_year}}" >May  {{current_year}}</option>
                            <option value="June {{current_year}}" >June  {{current_year}}</option>
                            <option value="July {{current_year}}" >July  {{current_year}}</option>
                            <option value="August {{current_year}}" >August  {{current_year}}</option>
                            <option value="September {{current_year}}" >September  {{current_year}}</option>
                            <option value="October {{current_year}}" >October  {{current_year}}</option>
                            <option value="November {{current_year}}" >November  {{current_year}}</option>
                            <option value="December {{current_year}}" >December  {{current_year}}</option>

                           
                        </select>
                    </div>
                    <div class="input-group-box">
                        <label>Date Of Salary Given</label>
                        <input type="date" name="empsalary_date" required>
                    </div>

                    <div class="submit_button">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
            <div class="register-details-table">
                <h4> Employeee Registeration Details</h4>
                <div class="line"></div>
                <div class="container">

                    <table id="register-details" class="display" >
                        <thead>
                            <tr>
                                <th></th>
                                <th>Full Name</th>
                                <th>Date Of Joing</th>
                                <th>Department</th>
                                <th>Designation</th>
                                <th>Employee Id</th>
                                <th>Confirmed Salary</th>
                                <th>Total salary Given</th>
                                <th>Reg. Status</th>
                                <th>Salary Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for i in emp_reg %}
                            <tr>
                                <td>{{forloop.counter}} </td>
                                <td>{{i.empfullName}}</td>
                                <td>{{i.empdofj}}</td>
                                
                                <td>{{i.empdept_id.department}}</td>
                                <td>{{i.empdesignation}}</td>
                                <td>{{i.empidreg}}</td>
                                <td>{{i.empconfirmsalary}}</td>
                                <td>{{i.emptol_salary}}</td>
                                <td class="stus">
                                    {% if i.emp_status == 1 %}
                                    <a href="#"><span style="color: #061459;font-weight: 600;"> Active </span></a>
                                    {% else %}
                                    <a href="#"><span style="color: #f61212;font-weight: 600;">De-active </span></a>
                                    {% endif %}
                                </td>
                                <td class="stus">
                                    {% if i.emp_salary_status == 1 %}
                                    <a href="#"><span style="color: #6bdb33;font-weight: 600;"> Active </span></a>
                                    {% else %}
                                    <a href="#"><span style="color: #f02121;font-weight: 600;">De-active </span></a>
                                    {% endif %}
                                </td>
                                
                            </tr>
                            {% endfor %}
                          
                        </tbody>
                       
                    </table>

                </div>
            </div>
           
        </div>
    </section>

    <!-- Meaage Box fead Out -->


</main>

{% endblock %}