{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}


<!--- INCOME EXPENCE Add   -->
<div class="content-wrapper">
    <div class="mb-2">
        <form class="search-form" action="{% url 'income_expence_search' %}" method="post">
            {% csrf_token %}
            
            <div class="w-box">
                <input type="date" class="search-date" name="start_date" >
            </div>
            <div class="w-box">
                <input type="date" class="search-date" name="end_date" >
            </div>
            <div>
                <button type="submit" class="search-button">  <i class="icon-search"></i></button>
            </div>
        </form>
    </div>
    

    <div class="row">
        <div class="col-sm-12">
           
            <div class="d-sm-flex align-items-center justify-content-center mb-1">
            
                {% if success_msg %}
                    <div class="messageBox-container" id="message-container">
                    
                            <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                            <p class="text-center success-text">{{success_msg}}</p>
                    </div>
                {% elif error_msg %}
                    <div class="messageBox-container" id="message-container">
                            <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                            <p class="text-center error-text">{{error_msg}}</p>
                    </div>
                {% endif %}
            
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row flex-grow">
                <div class="col-sm-12 col-md-4 grid-margin stretch-card">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="{% url  'income_expence_form' %}" class="forms-sample" method="post">
                                        {% csrf_token %}
                                            <div class="d-flex justify-content-start align-items-center">
                                                <h4 class="card-title card-title-dash">Income Expence Form</h4>
                                            
                                            </div>
                                            <div class="form-group mt-4">
                                                <label>Choose Type</label>
                                                <span class="small-text pl-1">
                                                    <input type="radio" class="small-text" name="exin_type" value="1" {% if exp_income_edit.exin_typ == 1 %}checked{% endif %}>&nbsp;Income
                                                </span> 
                                                
                                                <span class="small-text">
                                                    <input type="radio" class="small-text" name="exin_type" value="2" {% if exp_income_edit.exin_typ == 2 %}checked{% endif %}>&nbsp;Expense
                                                </span>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label for="exin_head_name">Head Name</label>
                                                <input type="hidden" value="{{exp_income_edit.id}}" name="exincom"  required>
                                                
                                                <input type="text" class="form-control small-text" id="exin_head_name" value="{{exp_income_edit.exin_head_name}}" name="exin_head_name" placeholder="Full Name" required>
                                                
                                            </div>

                                            <div class="form-group ">
                                                <label for="exin_date">Date </label>
                                                <input type="date" class="form-control small-text" id="exin_date" name="exin_date" value="{{exp_income_edit.exin_date|date:'Y-m-d'}}" placeholder="Date" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exin-amt">Amount</label>
                                                <input type="text" class="form-control small-text" id="exin-amt" name="exin_amt" value="{{exp_income_edit.exin_amount}}" placeholder="Amount"required>
                                            </div>
            
        
                                            <div class="form-group ">
                                                <label for="exin_dese"> Note </label>
                                                <textarea class="form-control small-text" id="exin_dese" name="exin_dese" style="height: 80px;" >{{exp_income_edit.exin_dese}}</textarea>
                                            </div>
            

                                            <div class="d-flex justify-content-center align-items-center">
                                                {% if exp_income_edit %}
                                                <button type="submit" class="btn btn-success btn-sm text-white mb-0 me-0" type="button"><i class="mdi mdi-pen"></i>&nbsp; Edit Save</button>
                                                {% else %}
                                                <button type="submit" class="btn btn-success btn-sm text-white mb-0 me-0" type="button"><i class="mdi mdi-plus-circle-outline"></i>&nbsp; ADD</button>
                                                {% endif %}
                                               
                                            </div>
                                            
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 grid-margin stretch-card">
                    <div class="card card-rounded">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6 grid-margin stretch-card">
                                  <a href="#">
                                      <div class="card">
                                      <div class="card-body">
                                          <h4 class="card-title">Income </h4>
                                          <div class="media">
                                          <i class=" mdi mdi-checkbox-multiple-marked-circle-outline  text-success  icon-md d-flex align-self-start me-3"></i>
                                          <div class="media-body">
                                              <p class="card-text">Total amount of income in {{acc_state.state_name}} ( include OJT and other income)  <span class="count-value"> {{exp_income_sum|default:"0"}}</span> </p>
                                          </div>
                                          </div>
                                      </div>
                                      </div>
                                  </a>
                                </div>
                                <div class="col-md-6 grid-margin stretch-card">
                                 <a href="#">
                                     <div class="card">
                                     <div class="card-body">
                                         <h4 class="card-title"> Expence  </h4>
                                         <div class="media">
                                         <i class="mdi mdi-close-circle-outline  text-danger icon-md d-flex align-self-end me-3"></i>
                                         <div class="media-body">
                                             <p class="card-text">Total expence of {{acc_state.state_name}} ( include salary and other expence)  <span class="count-value">  {{exp_expence_sum|default:"0"}}</span> </p>
                                         </div>
                                         </div>
                                     </div>
                                     </div>
                                 </a>
                               </div>
                                
                              </div>

                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash">Income Expence  List</h4>
                                    <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{ exp_income_count|default:"0" }}</span> Income Expence</p>
                                </div>
                                <div class="searchBox">
                                            
                                    <input type="text" class="form-control small-text" id="search-data" placeholder="salary month / pay date">
                                    <button type="button" class="close-btn" id="closeBtn">
                                         <i class="mdi mdi-close"></i>
                                    </button>
                                    
                                </div>

                            </div>
            
                            <div class="table-responsive  mt-1">
                                <table class="table select-table" id="OJT-Register">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Date</th>
                                            <th>Head Name</th>
                                            <th>Income</th>
                                            <th>Expence</th>
                                            <th>Note</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in exp_income %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'income_expence_delete' i.id %}" class="text-danger "><i class="mdi mdi-delete mdi-18px"></i></a>
                                                <a href="{% url 'income_expence_edit' i.id %}" class="text-primary pl-1"><i class="mdi mdi-pen mdi-18px"></i></a>
                                               
                                            </td>
                                            <td>{{i.exin_date}}</td>
                                            <td>{{i.exin_head_name}}</td>
                                            {% if i.exin_typ == 1 %}
                                            <td class="income">{{i.exin_amount}}</td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            {% if i.exin_typ == 2 %}
                                            <td class="exp">{{i.exin_amount}}</td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            <td>{{i.exin_dese}}</td>
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const ojtTable = document.getElementById('OJT-Register');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = ojtTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell2 = rows[i].getElementsByTagName('td')[2];
           

            if (Cell1 || Cell2 ) {
                const dataCell1 = Cell1.textContent || Cell1.innerText;
                const dataCell2 = Cell2.textContent || Cell2.innerText;
                
               

                if (dataCell1.toLowerCase().includes(filterValue) || dataCell2.toLowerCase().includes(filterValue) ) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>


{% endblock %}


    
    
    