{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
           
            <div class="d-sm-flex align-items-center justify-content-center mb-1">
            
                {% if success_msg %}
                    <div class="messageBox-container" id="message-container">
                    
                            <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                            <p class="text-center success-text">{{success_msg}}</p>
                    </div>
                {% elif error_msg %}
                    <div class="messageBox-container" id="message-container">
                            <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                            <p class="text-center error-text">{{error_msg}}</p>
                    </div>
                {% endif %}
            
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row flex-grow">
                <div class="col-sm-12 col-md-4 grid-margin stretch-card">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="{% url  'recipt_data_save' %}" class="forms-sample" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                            <div class="d-flex justify-content-start align-items-center">
                                                <h4 class="card-title card-title-dash">Receipt Details</h4>
                                            
                                            </div>
                                           
                                            <div class="form-group mt-3">
                                                <label for="exin_head_name">Authorized Name</label>
                                                <input type="hidden" value="{{r_data.id}}" name="exincom"  required>
                                                
                                                <input type="text" class="form-control small-text"  value="{{r_data.auth_fullname}}" name="aut_name" placeholder="Authorized Name" required>
                                                
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Authorized Signature</label>
                                                <input type="file" class="form-control small-text"   name="aut_signature" placeholder="Authorized Signature" > 
                                                <span  style="font-size: 0.65em;color:red;margin:auto;">Upload signature with no background</span>
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Company Name</label>
                                                <input type="text" class="form-control small-text" value="{{r_data.company_name}}" name="company" placeholder="Company Name" required> 
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Company Address 1</label>
                                                <input type="text" class="form-control small-text"  name="company_add1" value="{{r_data.company_address1}}" placeholder="Company Address 1" required> 
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Company Address 2</label>
                                                <input type="text" class="form-control small-text"  name="company_add2" value="{{r_data.company_address2}}" placeholder="Company Address 2" required> 
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Company Address 3</label>
                                                <input type="text" class="form-control small-text"  name="company_add3" value="{{r_data.company_address3}}" placeholder="Company Address 3" > 
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Company Email</label>
                                                <input type="text" class="form-control small-text"  name="company_email" value="{{r_data.company_email}} " placeholder="Company Email" > 
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Company Website</label>
                                                <input type="text" class="form-control small-text" name="company_site" value="{{r_data.company_site}} " placeholder="Company Website" > 
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Comapany Log</label>
                                                <input type="file" class="form-control small-text"  name="company_logo" placeholder="Comapany Log" > 
                                                <span  style="font-size: 0.65em;color:red;margin:auto;">Upload log with no background</span>
                                            </div>
                                            <div class="form-group ">
                                                <label for="exin_head_name">Comapany Seal</label>
                                                <input type="file" class="form-control small-text" id="exin_head_name"  name="company_seal" placeholder="Comapany Seal" > 
                                                <span  style="font-size: 0.65em;color:red;margin:auto;">Upload seal with no background</span>
                                            </div>

                                           

                                            <div class="d-flex justify-content-center align-items-center">
                                                {% if r_data %}
                                                <button type="submit" class="btn btn-success btn-sm text-white mb-0 me-0" type="button"><i class="mdi mdi-pen"></i>&nbsp; Edit Save</button>
                                                {% else %}
                                                <button type="submit" class="btn btn-success btn-sm text-white mb-0 me-0" type="button"><i class="mdi mdi-plus-circle-outline"></i>&nbsp; ADD</button>
                                                {% endif %}
                                               
                                            </div>
                                            
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-12 col-md-8 grid-margin stretch-card">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <h4 class="card-title">Receipt Format </h4>

                            <div class="card p-3">
                                <div class="card-body">

                                    <style>
                                        .top-container
                                        {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                        }
                                        .top-container .logoBox
                                        {
                                            width: 180px;
                                            height: 80px;
                                        }
                                        .logoBox img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: fill;
                                        }
                                        .signBox
                                        {
                                            width: 130px;
                                            height: 50px;
                                        }
                                        .signBox img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                        .text-md
                                        {
                                            width: 100%;
                                            
                                            margin-top: 1.5rem;
                                            font-size: 0.90rem;
                                        }
                                        .lines
                                        {
                                            border-bottom: 0.08rem solid #525151d6;
                                            width: 100%;
                                            text-align: start;

                                            
                                        }
                                       
                                        .amount
                                        {
                                            border: 0.08rem solid #535252d6;
                                            padding: 0.40rem 3.5rem 0.40rem 0.40rem;
                                            font-weight: 600;
                                            margin-left: 0.50rem;
                                            
                                        }
                                        .content-bottom
                                        {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                           
                                        }
                                        .d-grid
                                        {
                                            display: grid;
                                            grid-template-columns: 0.70fr 2fr;
                                            margin-top: 0.50rem;
                                        }
                                    </style>

                                    <div class="top-container">
                                        <div class="logoBox">
                                            {% if r_data.company_logo %}
                                            <img src="{{ r_data.company_logo.url}}">
                                            {% endif %}
                                        </div>
                                        <div class="company-Details">
                                            <h4 class="fw-bold text-end">{{r_data.company_name}}</h4>
                                            <p class="text-end">{{r_data.company_address1}}</p>
                                            <p class="text-end">{{r_data.company_address2}}</p>
                                            <p class="text-end">{{r_data.company_address3}}</p>
                                            <p class="text-end">Date : {{cur_date}}</p>

                                        </div>
                                    </div>

                                    <div class="contentBox">
                                        <div class="content-Head text-center mt-3">
                                            <h4 class="fw-midle">PAYMENT RECEIPT</h4>
                                        </div>
                                        <div class="content-body mt-3 p-3 ">
                                            <div class="d-grid">
                                                <p class="">Received with thanks from</p> <p class="lines">Athira Madhusudhanan</p>
                                            </div>
                                            <div class="d-grid">
                                                <p>Amount Received in words: </p> <p class="lines">Rupess Two Thousand Only</p>
                                            </div>
                                            <div class="d-grid">
                                                <p>For the purpose of </p> <p class="lines">Software Training</p>
                                            </div>
                                            <div class="d-grid">
                                                <p>Payment Date: </p> <p class="lines">07-09-2023</p>
                                            </div>
                                           
                                
                                        </div>
                                        <div class="amtBox  p-3 mb-3 ">
                                            <span class="fw-midle">Amount :</span>  <span class="amount text-start">Rs 2,000</span>
                                        </div>

                                        <div class="content-bottom  p-3">
                                            <div class="bt-left">
                                                <p>{{r_data.auth_fullname}}</p>
                                                <hr>
                                                <p>Received By </p>
                                            </div>
                                            <div class="bt-right">
                                                <div class="signBox">
                                                    {% if r_data.auth_signature %}
                                                    <img src="{{ r_data.auth_signature.url}}">
                                                    {% else %}
                                                    <img src="{% static 'account\images\lightbox\sign.png' %}" alt="Signature">
                                                    
                                                    {% endif %}
                                                </div>
                                                <hr>
                                                <p>Authorized Signature </p>
                                            </div>
                                        </div>


                                       
                                    </div>

                                </div>
                                <div class="card-footer text-center">

                                    <p>There is no refund for the payment you have done.</p>
                                  
                                    <p>Thank you!!!</p>
                                </div>
                                <hr>
                                <p class="mt-2 text-center">Email: {{r_data.company_email}}| Website: {{r_data.company_site}}</p>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
