{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}


 <!--===========================Employee Salary PAYMENT ADD  ========================-->

 <div class="content-wrapper">
    <button class="btn btn-primary btn-sm text-white mb-2 me-0" id="all-paymennts" onclick="showform()">All Salary Pending List</button>
    
    <div class="card payment-searchBox" id="payment-searchBox" >
        <form action="{% url 'employee_pending_salary'  %}" class="card-body" method="post">
            {% csrf_token %}
            <div class="d-sm-flex justify-content-between align-items-start">
                <div>
                    <h4 class="card-title card-title-dash">All Salary Pending List</h4>
                    
                </div>
                <div>
                    <span onclick="closeform()" class="text-danger"><i class="mdi mdi-close-circle-outline mdi-18px"></i></span>
                </div>
                
            </div>
            <div class="form-group ">
                <label>Salary Month</label>
                <select name="empsalary_month" id="sm" class="form-control small-text" required>
                                
                    {% for value, label in months  %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}

                </select>
            </div>
        
            <div class="form-group ">
                <label>Salary Year</label>
                <select name="empsalary_year" id="sy" class="form-control small-text" >
                    <option value="{{current_year}}">{{current_year}}</option>
                    {% for value, label in years  %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               
                <button type="submit" class="btn btn-success btn-sm text-white mb-0 me-0"><i class="mdi mdi-magnify "></i>&nbsp; Search </button>
                <button type="reset" class="btn btn-danger btn-sm text-white mb-0 me-0"><i class="mdi mdi-refresh"></i>&nbsp; Clear</button>
            </div>
            
        </form>
                        
    </div>


    <div class="row">
        <div class="col-sm-12">
           
            <div class="d-sm-flex align-items-center justify-content-start mb-2">
            
                {% if success_msg %}
                    <div class="messageBox-container" id="message-container">
                    
                            <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                            <p class="text-center success-text">{{success_msg}}</p>
                    </div>
                {% elif error_msg %}
                    <div class="messageBox-container" id="message-container">
                            <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                            <p class="text-center error-text">{{error_msg}}</p>
                    </div>
              
                {% endif %}
            
            </div>
        </div>
        <style></style>
        <div class="col-sm-12">
            <div class="row flex-grow">
                <div class="col-sm-12 col-md-4 grid-margin stretch-card">
                    <div class="card card-rounded" id="OJT-Add-Form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="{% url  'employee_salary_save' %}" class="forms-sample" method="post">
                                        {% csrf_token %}
                                            <div class="d-flex justify-content-start align-items-center">
                                                <h4 class="card-title card-title-dash">Salary - Payment Add Form</h4>
                                            
                                            </div>
                                            {% if emp_reg_edit %}

                                            <div class="card card-rounded" id="emp_details">

                                                <div class="card-body">
                                                    <p class="card-subtitle card-subtitle-dash">Full Name : {{emp_reg_edit.empfullName}}</p>
                                                    <p class="card-subtitle card-subtitle-dash">ID : {{emp_reg_edit.empidreg}} - &nbsp; DOF Join : {{emp_reg_edit.empdofj}}</p>
                                                  
                                                    <p class="card-subtitle card-subtitle-dash">Confirmed Salary :  {{emp_reg_edit.empconfirmsalary}}</p>
                                                </div>
                                                
                                            </div>

                                           
                                            {% endif %}
                                            <div class="form-group mt-3">
                                            <label for="lf">Full Leaves</label>
                                            <input type="number" class="form-control small-text"  name="leave_full" id="lf"  value="0" min="0" placeholder="Full Leaves" value="{{reg_dt.fullName}}"  >
                                          
                                            <input type="hidden" name="Emp_regid" id="emp_regid" value="{{emp_reg_edit.id}}" required >
                                            </div>

                                            <div class="form-group">
                                                <label for="lh">Half Leaves</label>
                                                <input type="number" class="form-control small-text" name="leave_half" id="lh"  value="0" min="0"  required>
                                            </div>
                                            <div class="form-group ">
                                                <label for="wd">Work Delay</label>
                                                <input type="number" class="form-control small-text" name="work_delay" id="wd" min="0" value="0" required>
                                            </div>
            
            
                                            <div class="form-group ">
                                                <label for="otamt">Any Other Amount To Add</label>
                                                <input type="number" class="form-control small-text" name="other_amt" id="otamt" min="0" value="0" >
                                            </div>
                                            
    
                                            <div class="form-group ">
                                                <label for="otdamt">Any Other Deduction Amount</label>
                                                <input type="number" class="form-control small-text"  name="other_damt" id="otdamt" min="0" value="0" >
                                            </div>
                                            <div class="form-group">
                                                <label for="sam">Salary Month</label>
                                                <select  class="form-control small-text" name="empsalary_month" id="sam" required>
                                                    <option value="">Choose Salary Month</option>
                                                    {% for value, label in months  %}
                                                    <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="say">Salary Year</label>
                                                <select  class="form-control small-text" name="empsalary_year" id="say" required>
                                                    <option value="{{current_year}}" selected>{{current_year}}</option>
                                                    {% for value, label in years  %}
                                                    <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="Salary_Pay_Date">Date Of Salary Given</label>
                                                <input type="date"  class="form-control small-text"  name="empsalary_date" >
                                            </div>
                                            <div class="form-group" style="display: none;" id="resultDiv">
                                                <label for="calsalary">Salary Given</label>
                                                <input type="text" class="form-control small-text"  name="calsalary"  id="calsalary" readonly >
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                {% if emp_reg_edit %}
                                                <button type="button" class="btn btn-primary btn-sm text-white mb-0 me-0" id="salcal"><i class="mdi mdi-calculator"></i>&nbsp;Calculate</button>
                                                {% endif %}
                                                <button type="submit" class="btn btn-success btn-sm text-white mb-0 me-0"><i class="mdi mdi-account-plus"></i>&nbsp; Add payment</button>
                                                <button type="reset" class="btn btn-danger btn-sm text-white mb-0 me-0"><i class="mdi mdi-refresh"></i>&nbsp; Clear</button>
                                            </div>
                                            
                                            
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                  
                </div>
                <div class="col-sm-12 col-md-8 grid-margin stretch-card">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash">
                                        {% if month_name %}
                                         {{month_name}} Salary Pending List
                                        {% else %}
                                            {% now 'F' %}  Salary Pending List
                                        {% endif %}

                                    </h4>
                                    <p class="card-subtitle card-subtitle-dash">You have <span class="count-value">{{emp_reg_count}}</span>Salary Pending </p>
                                </div>
                                <div class="searchBox">
                                        
                                    <input type="text" class="form-control small-text" id="search-data" placeholder="search here">
                                    <button class="close-btn" id="closeBtn">
                                            <i class="mdi mdi-close"></i>
                                    </button>
                                        
                                </div>
                                
                            </div>
            
                            <div class="table-responsive  mt-1" >
                                <table class="table select-table" id="salary-Register">
                                    <thead>
                                        <tr class="text-center">
                                           
                                            <th>Pay salary</th>
                                            <th>Sal. Status </th>
                                            <th>Con. Salary</th>
                                            <th>Emp. Id</th>
                                            <th>Full Name</th>
                                            <th>Dof Joing</th>
                                            <th>Dept.</th>
                                            <th>Desig.</th>
                                            <th>State</th>   
                                        </tr>
                                    </thead>
                                    <tbody>
                                            
                                        {% for i in emp_reg %}
                                    
                                        <tr  class="text-center">
                                           
                                            <td class="text-center"> 
                                                {% if i.emp_salary_status == 1 %}
                                                <a href="{% url 'salary_expence_add' i.id %}">
                                                    <button type="submit" class="btn btn-primary btn-sm text-white mb-0 me-0">Pay </button>
                                                </a>
                                                {% else %}
                                                <span><i class="mdi mdi-close-circle-outline mdi-18px text-danger"></i></span>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                {% if i.emp_salary_status == 1 %}
                                                <span class="text-info">Not Paid</span> 
                                                {% else %}
                                                <span class="text-danger">Salary account deactive</span>
                                                {% endif %}
                                            </td>
                                            <td>{{i.empconfirmsalary}}</td>
                                            <td>{{i.empidreg}}</td>
                                            <td><a href="{% url 'employee_salary_details' i.id %}">{{i.empfullName}}</a></td>
                                            <td>{{i.empdofj}}</td>
                                            
                                            <td>{{i.empdept_id.department}}</td>
                                            <td>{{i.empdesignation}}</td>
                                            <td>{{i.empstate}}</td>
 
                                        </tr>
                                       
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

  // Ajax call for to edit Fixed Expence of state 

function paylistDiv(itemId) {
   
 
  $.ajax({
    url: "{% url 'ojt_payment_list_single' %}",
    type: 'GET',
    data: {
        'regid': itemId,
    },
    success: function(response) {

        displayEditDiv(response);
    
       
    },
    error: function(response) {
      console.error('Error fetching item data.');
    }
  });
}
// Display the edit form 
function displayEditDiv(response) {
    var listDiv = $('#palistDiv');
    listDiv.css('display', 'block');
    $("#payment-list-container").html(response);
  
  }


  // Display the OJT edit form and hide OJT add form
function openEditDiv(editid) {

    $.ajax({
        url: "{% url 'ojt_payment_edit' %}",
        type: 'GET',
        data: {
            'payid': editid,
        },
        success: function(content) {
    
            displayEditdata(content);
        
           
        },
        error: function(content) {
          console.error('Error fetching item data.');
        }
      });
    }
  
    // Display the edit form 
function displayEditdata(content) {

    var editDiv = document.getElementById('OJT-Edit-Form');
    var addDiv = document.getElementById('OJT-Add-Form');
    addDiv.style.display = 'none';
    editDiv.style.display = 'block';
  
    $('#editname').val(content.name);  
    $('#editpayid').val(content.edit_id);
    $('#editPayment_Date').val(content.paydate);
    $('#editPay_Head').val(content.head_name);
    $('#editamount').val(content.amount);
    $('#editNext_Pay_Date').val(content.nextdate);
  
  }

// Hide the edit form
function closeEditform() {
    var editDiv = document.getElementById('OJT-Edit-Form');
    var addDiv = document.getElementById('OJT-Add-Form');
    addDiv.style.display = 'block';
    editDiv.style.display = 'none';
  
  }
  

// Hide the edit form
function closeEditDiv() {
  var payDiv = document.getElementById('palistDiv');
  payDiv.style.display = 'none';
}

</script>


<script>
   
    const inputField = document.getElementById('search-data');
    const closeBtn = document.getElementById('closeBtn');
    const salaryTable = document.getElementById('salary-Register');

    inputField.addEventListener('input', function() {
        filterTable();
    });

    function filterTable() {
        const filterValue = inputField.value.toLowerCase();
        const rows = salaryTable.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const Cell1 = rows[i].getElementsByTagName('td')[1];
            const Cell3 = rows[i].getElementsByTagName('td')[3];
            const Cell4 = rows[i].getElementsByTagName('td')[4];
            const Cell5 = rows[i].getElementsByTagName('td')[5];
            const Cell6 = rows[i].getElementsByTagName('td')[6];
            const Cell7 = rows[i].getElementsByTagName('td')[7];
           

            if (Cell1 || Cell3 || Cell4 || Cell5 || Cell6 || Cell7 ) {
                const dataCell1 = Cell1.textContent || Cell1.innerText;
                const dataCell3 = Cell3.textContent || Cell3.innerText;
                const dataCell4 = Cell4.textContent || Cell4.innerText;
                const dataCell5 = Cell5.textContent || Cell5.innerText;
                const dataCell6 = Cell6.textContent || Cell6.innerText;
                const dataCell7 = Cell7.textContent || Cell7.innerText;
                
               

                if (dataCell1.toLowerCase().includes(filterValue) || dataCell3.toLowerCase().includes(filterValue)|| dataCell4.toLowerCase().includes(filterValue)|| dataCell5.toLowerCase().includes(filterValue)
                    || dataCell6.toLowerCase().includes(filterValue)|| dataCell7.toLowerCase().includes(filterValue)) 
                {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }
    }

     // To display the close button and hide the close button based on the search input 
    inputField.addEventListener('input', function() {
    if (inputField.value == '') {
        closeBtn.style.display = 'none';
       
    } else {
        closeBtn.style.display = 'block';
        
    }
    });

    closeBtn.addEventListener('click', function() {
    inputField.value = '';
    closeBtn.style.display = 'none';
    filterTable(); // Display the full table data
    });
</script>

<script>
    $(document).ready(function() {
      $('#salcal').click(function() {
        const persid = $('#emp_regid').val();
        const lf = $('#lf').val();
        const lh = $('#lh').val();
        const wd = $('#wd').val();
        const otamt = $('#otamt').val();
        const otdamt = $('#otdamt').val();
        const sm = $('#sam').val();
        const sy = $('#say').val();
        console.log(persid);
        console.log(lf); console.log(lh); console.log(wd); console.log(otamt); console.log(otdamt);console.log(sm); console.log(sy);
        $.ajax({
            url: '{% url "salary_calculate" %}',
            data: {
                'persid': persid,
                'lf':lf,
                'lh':lh,
                'wd':wd,
                'otamt':otamt,
                'otdamt':otdamt,
                'sm':sm,
                'sy':sy
            },
          success: function(data) 
            {  $('#resultDiv').show(); // Display the div
                $('#calsalary').val(data.net_salary);
            },
          error: function(xhr, status, error) {
            // Handle error response
          }
        });
      });
    });

    // show the search form
    function showform() {
        var searchDiv = document.getElementById('payment-searchBox');
        var paybtn = document.getElementById('all-paymennts');
        paybtn.style.display = 'none';
        searchDiv.style.display = 'block';
    
    }

    // Hide the search form
    function closeform() {
        var searchDiv = document.getElementById('payment-searchBox');
        var paybtn = document.getElementById('all-paymennts');
        paybtn.style.display = 'block';
        searchDiv.style.display = 'none';
    
    }
  </script>       
 
 {% endblock %}


