{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}



<style>
#search-box
{
    padding: 1em;
    background: #fafafa;
    padding-top: 2em;
}
#search-box h5{
    font-size: 1.2rem;
    font-weight: 600;
}
/*Register Box Register-details  Style */

    #register-box .contaier-fluid
    {
        display: grid;
        grid-template-columns: 1fr 2.2fr;
        padding: 1em;
        gap: 1em;
        background-color:#fafafa;
       
       
    }
    #register-details thead,  #register-details tbody
    {
        font-size: 0.91em;
    }
  
    .register-details
    {
       
        background: #ffff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      
       
    }

    .register-details h4, .register-details-table h4{
      
        margin-top: 1.1em;
        font-size: 1.35em;
        margin-left: 0.40em;
        font-weight: 500;
        letter-spacing: 0.04em;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(38, 17, 63);
       
        
    }
    #emp_details
    {
        padding:1.5em 1em;
        font-size: 0.92em;
        line-height: 2.5em;
        margin-top: 1.3em;
        border: none;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    #emp_details h5
    {
        color: #060654;
        font-weight: 600;
    }
    #emp_details span
    {
        margin-left: 0.20em;
        font-weight: 600;
    }
    .register-details .line,  .register-details-table .line
    {
        width: 60px;
        height: 3px;
        border-bottom: 3px solid #000;
        margin-left: 0.60em;

    }

    /* Alert box */

    .register-details .message-bx,  .register-details .message-bx-confirm
    {
       
        color: #fafafa;
        font-size: 0.98em;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 0.50em ;
        height: 5vh;
        margin-top: 1.2em; 
    }
    .register-details .message-bx
    {
        background: #f0ea4a;
        height: 8vh;
        color: #2c2a2a;
    }
    .register-details .message-bx-confirm
    {
        background: #6fc146;
    }
  
    .register-details .message-bx-delete
    {
        background: #f7684c;
        color: #fafafa;
        font-size: 0.98em;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding: 0.50em ;
        height: 5vh;
        margin-top: 1.2em;
       
    }
    .register-details form{
        padding:0.50em 1em;
        background: #fafafa;
    }
    .register-details form .input-group-box
    {
        margin-top: 1.5em;
    }
    .input-group-box label
    {
        width: 35%;
        font-size: 0.86em;
        font-weight: 600;
        padding: 0.40em;
    }
    .input-group-box input, select{
      width: 55%;
      padding: 0.20em;
      border: 1px solid #828181;
      font-size: 0.90em;
     
    }
    .input-group-box input:focus, select:focus
    {
        border:0.01rem solid #111158;
        outline: none;
        border-radius: 3px;
    }
    .input-group-box select option{
        font-size: 0.90em;
        padding: 1em 0em;
    }
    .submit_button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        background: #fafafa;
        margin-top: 1em;
        
    }
    .submit_button button
    {
        padding: 0.40em 1.4em;
        font-weight: 600;
        background: #261b52;
        color: #ffff;
        margin:none ;
        border: none;
        letter-spacing: 0.04em;
        margin-right: 0.50em;
    }
    #register-details a
    {
        padding: 0em 0.40em;
        font-size: 1.1em;
    
    }
    #register-details .stus span{
        font-size: 0.85em;
    }
    #register-details .edit
    {
        font-size: 0.95em;
    }
    #register-details .edit:nth-child(1)
    {
      
        color: #1b126f; 
    }
    #register-details .check
    {
      
        color: #3da309; 
    }
    #register-details .wating
    {
        color: #fff308;
    }
    #register-details .wating span
    {
        color: #d3c90d;
        font-size: 0.85em;
        font-weight: 600;
    }
    #register-details .notcheck
    {
        color: #ec0909;
    }
    #register-details .confirmbtn
    {
        font-size: 0.89em;
        font-weight: 600;
        border: none;
        padding: 0.40em 0.80em;
        background: #111158;
        color: #ffff;
    }
    /* Media Query*/
    @media(max-width:964px)
    {
        #register-box .contaier-fluid
        {
        grid-template-columns:repeat(1,1fr) ;
        }
        .register-details
        {
            height: auto;
        }
        
    }
    /*Register Box Register-details End Style */

     /*Register Box Register-details Table Style */
     .register-details-table .container
     {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      
        margin-top: 1.4em;
        padding-top:2em ;
     }
     #register-details
     {
        font-size: 0.90em;
     }
      /* Media Query*/
    @media(max-width:964px)
    {
    
        .register-details-table .container
        {
            height: auto;
            overflow-x: scroll;
          
           
        }
        #register-details
        {
          width: 100%; 
        }
        .register-details-table 
        {
            overflow-x: scroll;
        }
    }
</style>


<main>
    
    <section id="register-box">
        <div class="contaier-fluid">
            <div class="register-details">
                <h4>Employeee Salary Expence Edit</h4>
                <div class="line"></div>
                {% if msg == 1 %}
                <div class="message-bx-confirm" id="msgbox">
                    <p><i class="bi bi-check-all"></i>Employee Salary Added </p>
                </div>
                {% elif msg == 2 %}
                <div class="message-bx" id="msgbox">
                    <p><i class="bi bi-exclamation-triangle-fill"></i> Company Holidays are not added.  Please add at least one holiday  </p>
                </div>
                
                {% endif %}

                <!-- Register Form -->

                <form action="{% url 'salary_edit_save' %}" method="post">
                    {% csrf_token %}
                        {% if emp_reg_edit %}
                        <div class="card" id="emp_details">
                            <span><h5>{{emp_reg_edit.empreg_id.empfullName}}</h5></span>
                                <b>ID: {{emp_reg_edit.empreg_id.empidreg}}</b>
                            <span ><b>Date Of Joing:</b> {{emp_reg_edit.empreg_id.empdofj}}
                        
                            <b style="margin-left: 0.50em;">Confirmed Salary:</b>   {{emp_reg_edit.empreg_id.empconfirmsalary}}</span>
                            
                               
                        </div>
                        <input type="text" name="Emp_regid" id="emp_regid" value="{{emp_reg_edit.empreg_id.id}}" required hidden>
                        <input type="text" name="Emp_regsalid" id="emp_regsalid" value="{{emp_reg_edit.id}}" required hidden>
                        {% endif %}
                    
                    <div class="line mt-4"></div>
                    <div class="input-group-box">
                        <label>Leaves </label>
                        <input type="number" name="leave_full" id="lf" style="width: 28%;" value="{{emp_reg_edit.empfull_leave}}" min="0" placeholder="Full day" >
                      
                        <input type="number"  name="leave_half" id="lh" style="width: 26%;" value="{{emp_reg_edit.emphalf_leave}}" min="0" placeholder="Half day" >
                    </div>
                    <div class="input-group-box">
                        <label>Work Delay</label>
                        <input type="number" name="work_delay" id="wd" min="0" value="{{emp_reg_edit.emp_delay}}" placeholder="Work delay count" >
                    </div>
                    <div class="input-group-box">
                        <label>Any Other Amount To Add</label>
                        <input type="number" name="other_amt" id="otamt" min="0" value="{{emp_reg_edit.emp_other_amt}}"  >
                    </div>
                    <div class="input-group-box">
                        <label>Any Other Amount To Deduction</label>
                        <input type="number" name="other_damt" id="otdamt" min="0" value="{{emp_reg_edit.emp_other_damt}}"  >
                    </div>
                    <div class="input-group-box">
                        <label>Amount</label>
                        <input type="text" name="amt" value="{{emp_reg_edit.emppaid_amt}}" readonly >
                    </div>
                    <div class="input-group-box">
                        <label>Salary Month</label>
                        <select name="empsalary_month" id="sm" required>
                            <option value="{{ content.month_number }}" selected>{{ content.mn }}</option>
                            {% for value, label in content.months  %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}

                        </select>
                        <label>Salary Year</label>
                        <select name="empsalary_year" id="sy" >
                            <option value="{{content.ye}}" selected>{{ content.ye }}</option>
                            {% for value, label in content.years  %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group-box">
                        <label>Date Of Salary Given:</label>
                        <input type="text" name="empsalary_date1" value="{{emp_reg_edit.empslaray_date}}" readonly>
                        <label>Change Date :</label>
                        <input type="date" name="empsalary_date" id="myDate">
                    </div>
                    <div class="input-group-box" id="results">
                       
                    </div>
                    <div class="submit_button">
                        <button type="button" id="salcal">Calculate Salary</button>
                        <button type="submit">Save</button>
                    </div>
                    
                </form>
            </div>

            <div class="register-details-table">
                <h4> Employeee  Details</h4>
                <div class="line"></div>
                <div class="container">

                    <table id="register-details" class="display" >
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Full Name</th>
                                <th>Date Of Joing</th>
                                <th>Department</th>
                                <th>Designation</th>
                                <th>Employee Id</th>
                                <th>Confirmed Salary</th>
                                <th>Salary Paid Date</th>
                                <th>Salary Paid Month</th>
                                <th>Current Salary </th>
                               
                                <!-- <th>Salary Status</th> --> 

                            </tr>
                        </thead>
                        <tbody>
                            {% for i in emp_salary_all %}
                            <tr>
                                <td>{{forloop.counter}} </td>
                                <td> <a href="{% url 'salary_expence_edit' i.id %}" class="#"> <i class="bi bi-pen-fill"></i>  </a></td>
                                <td><a href="{% url 'employee_salary_details' i.empreg_id.id %}">{{i.empreg_id.empfullName}}</a></td>
                                <td>{{i.empreg_id.empdofj}}</td>
                                
                                <td>{{i.empreg_id.empdept_id.department}}</td>
                                <td>{{i.empreg_id.empdesignation}}</td>
                                <td>{{i.empreg_id.empidreg}}</td>
                                <td>{{i.empreg_id.empconfirmsalary}}</td>
                                <td>{{i.empslaray_date}}</td>
                                <td>{{i.empsalary_month}}</td>
                                <td>{{i.emppaid_amt}}</td>
                               
                            </tr>
                            {% endfor %}
                          
                        </tbody>
                       
                    </table>

                </div>
            </div>
           
           
        </div>
        
    </section>

    <!-- Meaage Box fead Out -->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#salcal').click(function() {
            const persid = $('#emp_regid').val();
            const lf = $('#lf').val();
            const lh = $('#lh').val();
            const wd = $('#wd').val();
            const otamt = $('#otamt').val();
            const otdamt = $('#otdamt').val();
            const sm = $('#sm').val();
            const sy = $('#sy').val();
            console.log(persid);
            console.log(lf); console.log(lh); console.log(wd); console.log(otamt); console.log(sm); console.log(sy);
            $.ajax({
                url: '{% url "salary_calculate" %}',
                data: {
                    'persid': persid,
                    'lf':lf,
                    'lh':lh,
                    'wd':wd,
                    'otamt':otamt,
                    'otdamt':otdamt,
                    'sm':sm,
                    'sy':sy
                },
              success: function(data) {
                  $('#results').html(data);
                
              },
              error: function(xhr, status, error) {
                // Handle error response
              }
            });
          });
        });
      </script>
      
</main>

<script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementById("myDate").setAttribute("max", today);
</script>

{% endblock %}