{% extends 'account/account_base.html' %}
{% load static %}
{% block body %}


<!-- ======================= SINGLE USER PAYMENTS VIEW Section =============================-->

<div class="content-wrapper">

    <div class="row">
        <div class="col-sm-12">
           
            <div class="d-sm-flex align-items-center justify-content-start mb-2">
            
                {% if success_msg %}
                    <div class="messageBox-container" id="message-container">
                    
                            <div class="messageicon-Box successBox "><i class="mdi mdi-check icon-sm"></i></div>
                            <p class="text-center success-text">{{success_msg}}</p>
                    </div>
                {% elif error_msg %}
                    <div class="messageBox-container" id="message-container">
                            <div class="messageicon-Box errorBox "><i class="mdi mdi-close icon-sm"></i></div>
                            <p class="text-center error-text">{{error_msg}}</p>
                    </div>
                {% endif %}
            
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row flex-grow">
                
                <div class="col-sm-12 col-md-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                                <div>
                                    <h4 class="card-title card-title-dash"> OJT &nbsp; Payments List of -  {{reg.fullName}}</h4>
                                    <p class="card-subtitle card-subtitle-dash">{{reg.fullName}}  has <span class="count-value">{{ojt_count}}</span>OJT payments </p>
                                </div>
                               <div class="account-active-delete-Box">

                                {% if reg.payment_status == 0 %}
                                <a href="{% url 'user_active_reactive' reg.id  %}" title="Click to deactive the payment account" >
                                    <span class="small-text"><i class="mdi mdi-account-check mdi-18px text-success"></i> Pay Acc.</span>
                                </a>
                                {% elif reg.payment_status == 2   %}
                                <a href="{% url 'user_active_reactive' reg.id  %}" title="Click to reactive the payment account">
                                    <span class="small-text"><i class="mdi mdi-account-convert mdi-18px text-danger"></i> Pay Acc.
                                    </span>
                                </a>
                                {% elif reg.payment_status == 1   %}
                                <a href="#" >
                                    <span class="small-text">
                                    <i class="mdi mdi-account-circle mdi-18px text-secondary"></i> Pay Acc.</span>
                                
                                </a>
                                {% endif %}
                                {% if  reg.reg_status == 1 %}
                                <a href="{% url 'delete_user' reg.id  %}" title="Click to delete the account">
                                    <span class="small-text"><i class="mdi mdi-account-check mdi-18px text-success "></i> User Acc.</span>
                                </a>
                                {% elif reg.reg_status == 2 %}
                                <a href="{% url 'delete_user' reg.id  %}" title="Click to delete the account">
                                    <span class="small-text"><i class="mdi mdi-account-remove mdi-18px text-danger"></i> User Acc.</span>
                                </a>
                                {% endif %}

                               </div>
                                
                            </div>
            
                            <div class="table-responsive  mt-1" >
                                <table class="table select-table" id="OJT-Register">
                                    <thead>
                                        <tr>
                                            <tr>
                                                <th>No</th>
                                                <th>Date Of Payment</th>
                                                <th>Payment Head</th>
                                                
                                                <th>Amount Payed</th>
                                                <th>Balance Amount</th>
                                                <th>Status</th>
                                                <th>Receipt</th>
                
                                            </tr>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            
                                    {% for i in payhis %}
                                    
                                            <tr>
                                                <td>
                                                    {{forloop.counter}}
                                                   
                                                </td>
                                            
                                                <td>{{i.paydofj}} </td>
                                                <td>
                                                     {{i.head_name}}
                                                   
                                                </td>
                                               
                                                <td>{{i.payintial_amt}}</td>
                                                <td>{{i.paybalance_amt}}</td>
                                                <td>
                                                   {% if i.admin_payconfirm == 0 %}
                                                   <div class="badge badge-opacity-warning">Wating for approve</div>
                                                   {% elif i.admin_payconfirm == 1 %}
                                                   <i class="mdi mdi-checkbox-multiple-marked-circle-outline mdi-18px text-success"></i>
                                                    {% elif i.admin_payconfirm == 2 %}
                                                    <i class="mdi mdi-close-circle-outline mdi-18px text-danger"></i>
                                                    {% endif %}
                                            
                                                </td>

                                                 <td>
                                                    <a href="{% url 'singeldata_receipt' i.id %}">
                                                        <span>
                                                            <i class="mdi mdi-file-pdf mdi-18px text-danger"></i>
                                                            
                                                        </span>
                                                    </a>
                                                   
                                                </td>

                                            </tr>
                                       
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-sm-12 col-md-12 grid-margin stretch-card mt-2">
                                <a href="{% url 'previous_data' reg.id  %}"><span class="arrow-box"><i class="mdi mdi-chevron-left mdi-18px"></i></span></a>
                                <a href="{% url 'next_data' reg.id  %}" ><span class="arrow-box"><i class="mdi mdi-chevron-right mdi-18px"></i></span></a>
                            </div>
                        </div>                       
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>

</div>


{% endblock %}



